[2022-11-12 17:40] grillazz commented on #389
@charliermarsh for `B008` is there any simple way to setup `extend-immutable-calls = fastapi.Depends, fastapi.params.Depends` ?

[2022-11-12 18:20] martinlehoux commented on #351
I'll try this one if that's okay

[2022-11-12 19:53] edgarrmondragon commented on #389
@grillazz It's rather straightforward to add. I'm working on it 🙂

[2022-11-12 21:09] charliermarsh opened #707 "Pick up `flake8-bugbear` settings in `flake8-to-ruff`"

[2022-11-12 21:46] #707 closed

[2022-11-12 21:48] charliermarsh commented on #389
@grillazz - This is now supported thanks to @edgarrmondragon. So now you can add this to your `pyproject.toml`:

[code]

(Going out in v0.0.115 which is building now.)

[2022-11-12 23:41] charliermarsh opened #713 "Check all valid import forms during import tracking"
Assume that we're trying to import `typing.re.Match` (and, also, that `re.Match` doesn't exist, just for sake of example).

All of these forms (marked `# OK` need to work ):

[code]

In particular, we don't catch this:

[code]

[2022-11-13 00:55] harupy opened #714 "Should `S101` be ignored in a test file?"
Should `S101` (assert detection) be ignored in a test file? We do use `assert` in a test file:

[code]

[2022-11-13 01:03] harupy commented on #714
Another assert use case that should be considered ok:

[code]

[2022-11-13 01:30] andersk commented on #714
It’s hard to imagine a heuristic that would satisfy everyone here. Some people might want to forbid `assert` even in tests, in favor of test-specific methods with more useful failure output like `self.assertEqual(x, y)`.

But better configurability would help. In general, as we add support for more opinionated rules, it does seem inevitable that people will want to be more selective about which fi

[2022-11-13 01:52] harupy commented on #714
Agree. It looks like `bandit` provides an option for specifying files where assert detection is disabled:
https://github.com/PyCQA/bandit/blob/f909a7dea9495517a8550c9b9f6a75bd286ce7e3/bandit/plugins/asserts.py#L20

[code]

[2022-11-13 01:56] andersk commented on #552
These `extend-` directives might actually be useful if we end up supporting something like `overrides` à la [ESLint](https://eslint.org/docs/latest/user-guide/configuring/configuration-files#how-do-overrides-work) and [mypy](https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml-file):

[code]

[2022-11-13 01:59] harupy commented on #714
Confirmed `--per-file-ignores=tests/*:S101` works.

[2022-11-13 01:59] #714 closed

[2022-11-13 05:10] #713 closed

[2022-11-13 09:11] martinlehoux commented on #351
A few questions on top of my mind @charliermarsh

- Should we handle `from typing import TypedDict as CustomTypedDict`?
- Should we handle `MyType = TypedDict("MyType", dict(a=str, b=int))`?
- What should we do for `MyType = TypedDict("OtherName", ...)`?

[2022-11-13 13:42] layday opened #717 "Don't mark re-exported symbols as unused (F401)"
Currently, an import in the form of:

[code]

will trigger F401, but this idiom is in widespread use as a type checker-friendly alternative to `__all__` which does not alter star import semantics.  Type checkers which support flagging unused imports will ignore re-exported symbols, i.e. symbols where the `as` target is identical to the original name:

[code]

---

Thanks for ruff!

[2022-11-13 14:40] jhossbach commented on #645
I tried finding the severity rules for flake8 in the python extension for vscode (https://github.com/microsoft/vscode-python) but I was unsuccessful. I would say that everything resulting in a error in python should be marked as "error" (obviously), everything else should be considered a warning. I am not sure when Information is useful, and hint maybe wherever a fix is possible?

Maybe you have m

[2022-11-13 15:51] charliermarsh commented on #351
Good questions!

Na, I think we should ignore (leave it unchanged).

I think it's fine not to handle this case. It'd be nice to include it, but I don't see it as a requirement.

Let's ignore this case, if possible (leave it unchanged).

I would vote for two different rules.

[2022-11-13 15:52] charliermarsh commented on #717
This is easy to implement! My only question is whether it should be the default behavior, or designated under its own lint rule so as to be configurable (or via a configuration option).

Anyone have opinions on that? Maybe @andersk?

[2022-11-13 15:53] charliermarsh opened #720 "Import tracking should take aliases into account"
E.g., if we do `from typing import List as CustomList`, we should detect that `CustomList[...]` is a subscript annotation.

[2022-11-13 18:04] peterjc opened #722 "Enhancement request - fixers for pycodestyle rules"
Many of the pycodestyle rules ruff can detect ought to be easy to fix:

https://github.com/charliermarsh/ruff#pycodestyle

e.g. E713 could replace ``not x in y`` with ``x not in y`` and similar.

Tested with ruff 0.0.114

[2022-11-13 18:16] peterjc opened #723 "Avoid back-ticks in linter messages"
e.g. Trying ruff 0.0.114 on the Biopython codebase as an alternative to flake8 (for which is almost unbelievably fast, sub-second even if I deliberately run ``rm -rf .ruff_cache/`` first. Nice!):

[code]

Attempting to copy and past that into my git commit message at the command line is complicated due to the back ticks (bash attempts to run the command ``not in``). Typically flake8 plugins use si

[2022-11-13 18:16] charliermarsh commented on #717
I think this should be the default behavior since the re-export itself is effectively an explicit opt-in.

[2022-11-13 18:20] tiangolo commented on #675
Amazing! This is one of the two things not allowing me to switch to Ruff's sorting, I need to preserve some comments for some `# type: ignore` and things like that.

[2022-11-13 18:23] tiangolo commented on #705
I just came to ask for this... I know I said I didn't have a preference, but adding Ruff to FastAPI I just realized I do. 😅

Most of the "import as" I have are just to re-export things from other places, so that mypy and PyRight can know they are available, without having to deal with `__all__` that is much more error prone (strings referring to code can get obsolete and out of sync easily).

And

[2022-11-13 18:33] charliermarsh commented on #705
Yeah makes sense! Will change this. (There’s maybe a case to be made that “from a import b as b” and “from a import b as c” should get different treatment, but probably worth just being drop-in compatible with isort at this point.)

[2022-11-13 18:41] andersk commented on #717
I think I agree. Although this was rejected upstream (PyCQA/pyflakes#474), it’s a pretty important pattern in the typed Python ecosystem (upstream is incorrect to expect that ecosystem to be entirely captured in PEPs). And I don’t see this significantly hurting anyone else.

[2022-11-13 18:55] andersk commented on #723
Many characters remain special to Bash inside double quotes. The way to suppress their special meaning is by surrounding them with single quotes ([documentation](https://www.gnu.org/software/bash/manual/html_node/Quoting.html)):

[code]

which would actually become harder if ruff used single quotes itself.

(That said, if it were my project, I might have opted for Unicode curly quotes: `Test for m

[2022-11-13 20:01] AA-Turner opened #726 "F401: Ignoring errors fails with capitalisation"
Ignoring errors on a line-by-line basis should work with any capitalisation of `#noqa`, in my projects I tend to use `#NoQA`.

This failure was introduced in Ruff 111, see below:

[code]

A

[2022-11-13 20:20] charliermarsh commented on #726
My bad! Will fix today.

[2022-11-13 21:09] #726 closed

[2022-11-13 21:11] charliermarsh commented on #726
Going out in https://github.com/charliermarsh/ruff/releases/tag/v0.0.117 (building now).

[2022-11-13 21:11] charliermarsh commented on #717
Going out in [v0.0.117](https://github.com/charliermarsh/ruff/releases/tag/v0.0.117) (building now).

[2022-11-13 21:55] layday commented on #717
whoops, I should've probably mentioned the same holds for `import a as a`, although not as common.

[2022-11-13 21:57] peterjc commented on #723
I know there are workarounds, my point was with flake8 and pycodestyle I don't need one because it uses single quote chars:

https://github.com/PyCQA/pycodestyle/blob/2.9.1/pycodestyle.py#L1418

i.e. I see this as a minor but annoying change in potentially switching from flake8 to ruff.

(Unicode quotes would be a neat alternative, they probably would work near universally nowadays.)

As an aside,

[2022-11-13 22:03] andersk commented on #717
Also apparently `import a.b.c as c`. (I find that one surprising, but mypy accepts it; [source](https://github.com/python/mypy/blob/v0.990/mypy/semanal.py#L2233).)

[2022-11-13 22:07] charliermarsh commented on #717
Re-opening for those cases :)

[2022-11-13 22:17] layday commented on #717
Interesting, Pyright rejects that.

[2022-11-13 22:46] andersk commented on #717
Yeah, Pyright seems more correct. Opened python/mypy#14086.

[2022-11-13 22:47] AA-Turner commented on #726
Thanks for the quick fix!

A

[2022-11-14 01:15] harupy commented on #722
+1. I can work on this.

[2022-11-14 01:34] charliermarsh commented on #726
Any time :)

[2022-11-14 03:26] #717 closed

[2022-11-14 04:07] #705 closed

[2022-11-14 07:09] adilkhash opened #733 "F821 Undefined name when using Literal from typing"
Hey 👋,

I discovered the problem with Literal discussed in another issue: https://github.com/charliermarsh/ruff/issues/629 but I have a slightly different use case which `ruff` doesn't like:

[code]

[code]

It is interesting that if I import Literal from typing without using an alias then everything is OK:

[code]

[2022-11-14 11:03] harupy commented on #389
@grillazz

Did you remove `ignore = ["B008",]` after upgrading to 0.0.117?

[2022-11-14 11:24] grillazz commented on #389
@harupy yes I removed this line. Please find full `pyproject.toml` below

[code]

[2022-11-14 13:40] peterjc commented on #723
This looks easy to fix in ruff, a series of string literal changes - the specific examples is here:

https://github.com/charliermarsh/ruff/blob/v0.0.117/src/checks.rs#L1347

I've not worked with rust before, but could attempt a pull request if welcome?

[2022-11-14 14:32] charliermarsh commented on #733
Yeah this is a legitimate deficiency right now! It’s similar to #720 but a slightly different case. We don’t track import aliases right now. But what you have here feels like a common pattern so I’ll try to prioritize fixing it.

[2022-11-14 14:47] lolrenx opened #736 "any commentary (inline or single line) in imports is removed"
as per title, not sure if this is intended.
do commentaries in imports violate a PEP rule ?

[2022-11-14 14:53] charliermarsh commented on #736
Yeah it’s probably due to comments right now! This will be fixed soon (see #675).

[2022-11-14 14:58] lolrenx commented on #736
awesome! cheers

[2022-11-14 15:12] kaniak274 opened #737 "Formatting results on Windows"
Hi!

I've got one minor issue with how the result are formatted. On Linux the result is nicely formatted in the following way:
[code]

and it's great! However, I sometimes use Windows and when I tried to run `ruff` inside the Powershell the result like this:
[code]

and the output is hard to read on Windows.

[2022-11-14 15:25] charliermarsh commented on #737
Weird! I'm guessing that it's related to the color printing? Does adding setting the `NO_COLOR=1` environment variable help? Like `NO_COLOR=1 ruff path/to/file.py`?

[2022-11-14 15:27] kaniak274 commented on #737
Ah it does :D I was not thinking about that. Thanks!

[2022-11-14 15:27] #737 closed

[2022-11-14 15:29] charliermarsh commented on #737
I wish it worked on Windows though! I wonder why that's happening. We use the `colored` crate under the hood.

[2022-11-14 15:37] charliermarsh commented on #733
(I'll try to fix this today.)

[2022-11-14 16:14] harupy commented on #389
@grillazz Can you try running `ruff --no-cache ...`?

[2022-11-14 16:22] edgarrmondragon commented on #389
@grillazz +1 to the above suggestion. This is the result I get from running on https://github.com/grillazz/fastapi-sqlalchemy-asyncpg's `main` branch with the configuration you shared:

[code]

[2022-11-14 16:23] charliermarsh commented on #389
I may have forgotten to include the bugbear settings in the hash key. (I’m on the subway but can fix in a bit, or if someone wants to PR, check out the hash trait implementation on Settings :))

[2022-11-14 17:29] charliermarsh commented on #389
If that _is_ the issue, it'll be fixed by https://github.com/charliermarsh/ruff/pull/739.

[2022-11-14 17:42] andriilahuta opened #740 "D213 and D400 incompatibility"
`D213` rule is not compatible with `D400` and some others.

Running `ruff --select D --ignore D100,D212` for the following file:
[code]
gives the following errors:
[code]

[2022-11-14 18:03] charliermarsh commented on #740
Thanks, this looks like a bug since `pydocstyle` doesn't throw here.

[2022-11-14 18:07] #740 closed

[2022-11-14 18:09] charliermarsh commented on #723
Let me take a look at a few other tools and see how they handle this! I initially liked the use of backticks since they render correctly in Markdown and (to my mind) had become a standard for indicating code snippets. But it's not worth it to me if it's causing a bunch of inconveniences.

[2022-11-14 19:17] charliermarsh opened #743 "Improve performance of import matching code"
`f5b1f95` (#715) introduced a performance regression (performance on the benchmark degraded by about 30%).

[2022-11-14 20:30] peterjc commented on #283
You asked for feedback from other flake8 plugin authors, so:

* https://github.com/peterjc/flake8-black (620k downloads/month on PyPI), not needed if you can run black directly as well as running flake8, for example via the tool pre-commit or otherwise. Currently this reloads each Python file from disk (scope here to refactor to let black use its cache), it would not be possible to use the AST fro

[2022-11-14 20:54] andersk commented on #723
“A bunch of inconveniences” seems overblown. Rust errors use backticks ``` `` ```; the Rust team has put a lot of effort into error message ergonomics generally, and thought about this specific question at least enough to put it in their [style guide](https://rustc-dev-guide.rust-lang.org/diagnostics.html#diagnostic-structure). I didn’t find any evidence of complaints from people incorrectly pasti

[2022-11-14 23:18] #743 closed

[2022-11-15 00:56] andriilahuta commented on #740
@charliermarsh thanks! I've also found a couple of new bugs:

- Apparently `noqa` doesn't work for multiline docstrings. The code below still gives the error I'm trying to suppress:
[code]
- Spaceless multiline strings don't throw `E501`.
  This throws an error:
[code]
  And this doesn't:
[code]

[2022-11-15 02:29] #720 closed

[2022-11-15 02:29] #733 closed

[2022-11-15 02:31] #702 closed

[2022-11-15 02:32] charliermarsh commented on #723
Hmm yeah. While I totally understand the critique @peterjc, I think I'm going to leave this as-is for now. If we continue to hear complaints, I'll definitely reconsider!

[2022-11-15 02:32] #723 closed

[2022-11-15 02:35] charliermarsh commented on #283
Thank you @peterjc! Really appreciate your engagement here as a plugin author!

(Regarding RST: it looks like there's at least one [Rust crate](https://github.com/flying-sheep/rust-rst) for parsing RST, though it doesn't look super popular.)

[2022-11-15 03:00] ofek commented on #283
Is this possible, or supported currently? https://github.com/adamchainz/flake8-tidy-imports

[2022-11-15 03:33] adilkhash commented on #733
Thanks for your quick responses, but I see that you've released the 0.0.119 version but it doesn't solve the problem:

[code]

[2022-11-15 03:50] charliermarsh commented on #733
🤦 I missed a one-line change specific to `Literal`, one sec.

[2022-11-15 03:54] charliermarsh commented on #733
Cutting a new release to fix this: [v0.0.120](https://github.com/charliermarsh/ruff/releases/tag/v0.0.120)

[2022-11-15 07:41] grillazz commented on #389
Test 0.0.120 and problem solved. Thx

[2022-11-15 10:52] peterjc commented on #723
That's fine, it is only a minor inconvenience to me. Thank you.

I can see this was a deliberate choice away from the Python tools' use of single quotes to the back-ticks favoured by the Rust team (quoting the style guide Anders linked to):

The Rust team were probably swayed by the back-tick use for literals in markdown and RST.

[2022-11-15 11:50] marscher opened #751 "Version upgrade notice should only pop up once a day."
When using Ruff in other tools, it'd be nice if one could turn off the "new version available" notice. It clutters the output badly, if Ruff is being invoked for every individual file (which is done by the IDE, or another embedding tool).

A simple console argument switch should do the trick.

Thanks for this great tool btw! :)

[2022-11-15 13:31] peterjc opened #752 "Missing --line-length in the command line API"
At the command line flake8 exposes two line length settings:

[code]

These control E501 (already in ruff) and W505 (also from pycodestyle but off by default in flake8 - see https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes - not yet in ruff) respectively.

See also https://github.com/PyCQA/flake8-bugbear/issues/285 for a discussion about what flake8-bugbear B950 ought to obey.

Curre

[2022-11-15 15:45] torarvid opened #754 "Erroneous F821 on nested class"
First off: Amazing looking tool. Love the work! 🏆

Ruff version 0.0.120

Steps to reproduce:

1. Create test.py with the following contents

[code]

Then run `ruff test.py`:
[code]

But if, say, you remove all of `random_func`, the execution seems to succeed 😁

[2022-11-15 15:59] charliermarsh commented on #754
Thank you! Weird bug, will try to fix today! :)

[2022-11-15 16:01] charliermarsh commented on #752
Good call! I’ll add this today. I actually thought it already existed but clearly not!

[2022-11-15 16:03] charliermarsh commented on #751
The --quiet flag might do what you want? It omits the version check and only logs errors (nothing else).

I do think the version check is too spammy. I was under the impression that it would only log once a day, so need to revisit it. (It’s also possible that it deserves its own flag and config option.)

[2022-11-15 16:19] lovetox commented on #315
Can someone explain to me how defining a set() method on an Object is "shadowing" anything?

[code]

A class has no inbuilt set method, if you mean the inbuilt `set()` method, we can pass a object to this method, but i dont see how this is relevant.

This check is not opinonated its just wrong in what the error text says. It does not shadow something in this example in my opinion.

[2022-11-15 16:24] lovetox opened #755 "U007 Use `X | Y` for type annotations, does not respect target-version"
Hi,

The error

`U007 Use `X | Y` for type annotations`

is emitted even though

`target-version = "py39"` is set in `pyproject.toml`

This python feature is only available in 3.10

https://peps.python.org/pep-0604/

[2022-11-15 16:43] dhruvmanila opened #756 "Suggestion: Do not print update information if `--format=json`"
When passing the flag to output in the JSON format, the update information is still being provided which leads to parsing error when passing the output to any JSON processor.

[code]

Example using the `jq` command-line tool:

[code]

This problem also persists when using the JSON output for editor integration.

[2022-11-15 16:46] charliermarsh commented on #756
Yeah this makes sense.

[2022-11-15 16:50] charliermarsh commented on #315
I agree that it's confusing but it is consistent with `flake8-builtins`:

[code]

I'm not sure what a more reasonable A003 would be, I think folks should just disable this check if they don't find the current behavior useful.

[2022-11-15 16:51] charliermarsh commented on #755
Thank you!

[2022-11-15 16:52] #755 closed

[2022-11-15 16:54] charliermarsh commented on #756
(You can pass `--quiet` alongside `--format=json` for now to suppress this.)

[2022-11-15 17:00] marscher commented on #751
This is exactly what I was looking (not too focused) for. Thanks!

[2022-11-15 17:01] lovetox commented on #315
I guess it's ok if you want to mirror the flake check exactly. Usually one wants to check variable names against builtins. Vor methods on classes we normally speak about overriding a method which is a common practice and not really worth a warning or error

[2022-11-15 17:19] #754 closed

[2022-11-15 17:19] charliermarsh commented on #754
Figured this one out, hopefully fixed in next release but let me know if you hit it again!

[2022-11-15 17:19] charliermarsh commented on #754
Used your example as a new test case.

[2022-11-15 17:23] #752 closed

[2022-11-15 18:32] lovetox commented on #315
Thanks for that example, seems its indeed possible to shadow a builtin with a method, i didnt know that.

Nevertheless in the original examples, nothing was shadowed.
I guess the algo is just not very good, and just scans for method names with names of builtins.

[2022-11-15 19:03] charliermarsh commented on #756
(But this will get fixed today.)

[2022-11-15 20:29] #756 closed

[2022-11-15 21:14] #751 closed

[2022-11-15 21:18] charliermarsh commented on #389
@harupy is dangerously close to implementing the entire plugin ;)

[2022-11-16 00:28] harupy commented on #389
Nice to see a task list with lots of ✅ :)

[2022-11-16 02:28] charliermarsh commented on #675
This took longer than expected. I'm not super happy with the amount of code required to handle comments, but the output is looking pretty good.

Here's the diff on Zulip:

![Screen Shot 2022-11-15 at 9 27 05 PM](https://user-images.githubusercontent.com/1309177/202068800-3850a40d-45c9-4bfd-a936-cd5b296a77e6.png)

Here's the diff on FastAPI:

![Screen Shot 2022-11-15 at 9 27 48 PM](https://user-ima

[2022-11-16 03:02] #675 closed

[2022-11-16 03:26] charliermarsh commented on #465
[v0.0.122](https://github.com/charliermarsh/ruff/releases/tag/v0.0.122) (which just hit PyPI) contains a bunch of compatibility improvements, including comment preservation, respecting `isort: skip`, and more. It's also about 10% faster than reported above.

If you're able to test it out on your projects, would love feedback, issues, etc.!

[2022-11-16 04:08] #642 closed

[2022-11-16 04:08] #641 closed

[2022-11-16 07:06] tekumara commented on #465
Fantastic thank you!

I noticed ruff will insert an empty line before comments (unlike isort), eg:
[code]

I presume this is a deliberate change.

[2022-11-16 07:31] andersk commented on #465
It’s deliberate. `isort --profile=black`  inserts the same empty line, as does `black` itself.

[2022-11-16 13:07] LefterisJP commented on #689
Pylint does a lot of AST analysis and has lots of modules and a modular system.
It's pretty cool. I have written pylint modules in the past.

The problem is that it is excruciatingly slow.

If ruff could go towards that and stay as fast as it is ... oh boy I would be in love.

[2022-11-16 13:16] LefterisJP opened #767 "Imported but not used fix under conditional as last import"
Hey I got a kind of an edge case to report but guess it may be fixable so thought why not make an issue.

Consider the following

[code]

If you run `ruff --fix` on this it will detect that the 2 imports unde the if are not used and will delete them. But this will leave the `if TYPE_CHECKING` block empty, which is a syntax error.

Would it be possible to detect this and also delete the if?

Funnil

[2022-11-16 13:31] charliermarsh commented on #767
Thanks for filing! The intended behavior is to remove the two imports in the if-block, and replace them with a pass… so sounds like a big if it’s leaving you with an empty body.

I’d been hesitant to remove the if itself since it introduces a lot of complexity, but in theory it’s possible…

[2022-11-16 13:51] charliermarsh commented on #767
Can I just confirm: are you on the latest version? I’m seeing Ruff correctly add a pass statement in that example.

[2022-11-16 15:17] LefterisJP commented on #767
Hey @charliermarsh apologies. I should have checked. I was in an 1 week older venv and had `ruff 0.0.105` there. With `ruff 0.0.122` I also see the correct behavior.

[2022-11-16 15:17] #767 closed

[2022-11-16 15:52] g-as opened #769 "N805 classmethod-decorators x Pydantic"
Hi,

I have some **pydantic**'s models lying around with some validation like so:
[code]

**pep8-naming** doesn't trigger with:
[code]
but **ruff** does.

The trick is `validator` is not a decorator but a function that returns a classmethod.

I also checked that, as expected,
[code]
doesn't raise any **N805** error (even though it's not functional).

Other "issue", I could not get it to work when

[2022-11-16 15:55] charliermarsh commented on #769
Yeah that should work! Will take a look (but possibly tomorrow).

[2022-11-16 15:55] charliermarsh commented on #767
No prob! That was a regression anyway. Glad it’s working now.

[2022-11-16 15:58] g-as commented on #769
Man, you're on a mission.

Keep up the good work!

[2022-11-16 16:10] LefterisJP opened #770 """" string should be allowed to be multiline"
I just updated to `ruff 0.0.122` from `ruff 0.0.105` and got a few new errors which should not have been thrown.

This is an example:

[code]

We basically split a `"""` string into multiple lines. And the `noqa: E501` at the end should work for the entire string (this is how it works for flake8 also).

While ruff seems to complain about the length of each individual line.

[2022-11-16 16:13] LefterisJP commented on #770
A sidenote. I also got this hit: https://github.com/PyCQA/flake8-bugbear/issues/278

But I think this is valid, though I would ignore this flag. It's a buggy warning imo. You can have an abstract class without abstract methods which is inherited by yet another class which does have them.

[2022-11-16 16:50] charliermarsh commented on #770
Yeah that use of noqa should work. Seems like a bug! Will fix.

[2022-11-16 16:59] charliermarsh commented on #770
I think the issue here was specific to the _first_ line of a multi-line string being too long (off-by-one for zero- vs. one-indexing).

[2022-11-16 17:04] charliermarsh commented on #769
Thank you :)

[2022-11-16 17:05] charliermarsh commented on #769
Ok yeah the logic here just wasn't general enough! Will fix.

[2022-11-16 17:24] #769 closed

[2022-11-16 17:25] charliermarsh commented on #769
Fixed and added that `pydantic` use-case as a dedicated test case. Will go out in the next release!

[2022-11-16 17:25] charliermarsh commented on #769
Building now: https://github.com/charliermarsh/ruff/releases/tag/v0.0.124

[2022-11-16 17:28] JonathanPlasse opened #773 "Remove unnecessary abspath has been removed from pyupgrade"
Hi,
I just discovered `Ruff`, love it :heart_eyes:
This is the [commit](https://github.com/asottile/pyupgrade/commit/a89ff428e9c6f394bd91135e5eee568df77814f2), which removed it.
Should it be removed?

[2022-11-16 17:35] timabbott commented on #465
I just integrated the zulip/zulip pull request to use this. `ruff` is amazing, thanks so much for building this!

[2022-11-16 17:43] charliermarsh commented on #773
Sadly yes, it should be! Anthony made me aware of this yesterday. Thanks for filing the issue.

[2022-11-16 18:50] andriilahuta opened #775 "0 exit code when used as a module"
Running `python -m ruff` results in 0 exit code even though errors are present.

[2022-11-16 19:15] g-as commented on #769
cheers!

[2022-11-16 19:53] JonathanPlasse opened #777 "Missing skip_gitignore for isort configuration"

[2022-11-16 20:05] JonathanPlasse opened #778 "pyupgrade typing rewrites should not rewrite runtime types"
This
[code]
should not be replaced by
[code]
Python versions before 3.9 do not support type subscription, and 3.10 do not support pipe operator.

[2022-11-16 21:08] JonathanPlasse commented on #773
Can I make a pull request to remove it?

[2022-11-16 21:16] #775 closed, assigned to nobody

[2022-11-16 21:17] charliermarsh commented on #773
Of course, that would be welcome.

[2022-11-16 21:21] charliermarsh commented on #778
Thanks! I’ll have to review the rules here and see how pyupgrade handles.

[2022-11-16 22:40] olliemath opened #780 "False positive for F821"
It seems that using `dict` as a parameter name in a function (which I'd consider bad style) breaks ruff's parsing in unexpected ways. In particular the following gives `6:31: F821 Undefined name 'name'`, when it shouldn't.

[code]

Here is my pyproject.toml if that's needed to reproduce:
[code]

[2022-11-16 23:22] andersk commented on #778
We correctly control this by the `target-version` setting.

[code]

[2022-11-16 23:46] charliermarsh commented on #780
Thanks! Yeah, definitely a legit bug. We need to verify that `dict` corresponds to the built-in and hasn't been shadowed.

[2022-11-16 23:46] charliermarsh commented on #780
Appreciate the clear test case.

[2022-11-16 23:47] charliermarsh commented on #778
Oh right -- this looks correct to me. I thought the issue had to do with using the standard library type annotations for assignment (on the RHS), rather than as annotations.

[2022-11-16 23:48] charliermarsh commented on #778
Gonna close for now but feel free to ping if we're misinterpreting the problem!

[2022-11-16 23:48] #778 closed

[2022-11-16 23:52] charliermarsh commented on #780
(I'll fix this tomorrow most likely, probably not tonight.)

[2022-11-17 00:09] charliermarsh commented on #780
Tangentially, I guess I'd argue that Flake8 erroneously _doesn't_ catch this:

[code]

Both should raise an undefined error on `foo`.

[2022-11-17 00:10] charliermarsh commented on #780
The reason I mention it is because both Flake8 and Ruff accidentally raise F821 here:

[code]

[2022-11-17 00:12] charliermarsh commented on #780
But I will fix this in Ruff :)

[2022-11-17 04:11] kuator commented on #665
Will gladly ditch pyright for ruffd once it's mature

[2022-11-17 06:51] JonathanPlasse commented on #778
Maybe the default version should be the minimum supported Python version like pyupgrade does.

[2022-11-17 09:00] andersk opened #783 "N818 ErrorSuffixOnExceptionName should apply recursively to sub-subclasses of Exception"
This triggers `N818 exception name 'Bar' should be named with an Error suffix` in pep8-naming but not in Ruff:

[code]

pep8-naming checks this by [recursively searching](https://github.com/PyCQA/pep8-naming/blob/b3492eeede12a26d35c0ee9e6b9c37a7e5484bf6/src/pep8ext_naming.py#L283-L293) all ancestor classes, although it may be nearly as effective to just check whether an immediate parent class has

[2022-11-17 09:44] olliemath commented on #780
Thanks for the quick response! Yeah interesting that flask has that issue too - I guess it's a bit more niche, so as-yet undiscovered (or unfixed) by them.

[2022-11-17 10:49] olliemath commented on #780
Well, I've also let the pyflakes team know about this edge case https://github.com/PyCQA/pyflakes/issues/738 I assume they'll want to fix it!

[2022-11-17 12:53] JonathanPlasse opened #785 "Running `cargo run resources/test/fixtures --no-cache` return 131 errors"
Following `CONTRIBUTING.md`.
I cloned the repo.
Installed `cargo-insta`
Then, ran

[code]

It gave me

[code]

Is it the expected behavior?

[2022-11-17 13:08] tlambert03 opened #786 "feature: fix-exclude?"
first: ruff is freakin amazing and incredibly helpful.  _thank you_ for your work.

Apologies if this already exists and I missed it when searching:  I regularly use the `--fix` feature with pre-commit, but would like to be able to exclude certain rules from fixing, while still having them raise an error (for me to manually correct).

For example, I'd like `F401` to be excluded from autocorrection

[2022-11-17 13:40] olliemath commented on #780
So pyflakes adopt the attitude of "this is a bad type annotation - won't fix". In fact this also gives F821 with flake8 but not ruff:
[code]

I think it's kind of ambiguous if it should give F821, since annotations can be used for other things than types (but rarely are). To be honest, I would let mypy and co sort out the correctness of my type annotations.

Either way, having consistent behavior

[2022-11-17 13:54] JonathanPlasse opened #787 "Add rule to use sys.exit() instead of exit()"
`exit()` is not a built-in function and is only defined if the site module is imported during Python's initialization (which, for example, can be disabled with `-S` option passed to the interpreter). You should use `sys.exit()` instead:
[code]

_Originally posted by @jack1142 in https://github.com/charliermarsh/ruff/pull/776#

Fixed, thanks. (Ruff should have a rule for this!)

_Originally posted

[2022-11-17 14:02] JonathanPlasse opened #788 "Add flake8-blind-except rules"
This would check when `BaseException` or `Exception` is used instead of a specific one.

I would like to work on it.
In which rule group would this go?

[2022-11-17 15:07] charliermarsh commented on #283
@ofek - Not currently supported but it’s a pretty small surface area so should be easy to add some time in the next few days.

[2022-11-17 15:21] ofek commented on #283
Thanks! I've been enforcing absolute imports recently (except in tests) https://github.com/pypa/hatch/blob/b0911bb0eaa8d331c24eda940b97bf244ecd5ac3/.flake8#L8-L11

After that I'll switch over, and make new projects generated by Hatch use this.

[2022-11-17 15:39] charliermarsh commented on #283
Sweet! The banned relative import rule I can definitely do today.

[2022-11-17 15:54] charliermarsh commented on #787
Awesome! This should go in the `RUF` group since it's new / custom to Ruff.

[2022-11-17 16:28] charliermarsh commented on #788
I think we could add it as B902 to match the existing plugin.

[2022-11-17 16:33] charliermarsh commented on #785
This actually _is_ expected. Each of those files are expected to be run with `--select F841` (or equivalent, based on the file name).

[2022-11-17 16:33] #785 closed

[2022-11-17 16:34] #773 closed

[2022-11-17 16:35] charliermarsh commented on #773
Thanks again for the fix @JonathanPlasse!

[2022-11-17 17:04] charliermarsh commented on #465
That's awesome! Thanks @timabbott! Made my day :)

[2022-11-17 17:08] charliermarsh commented on #783
Yeah let's do the latter for now (checking parent names) as a heuristic.

[2022-11-17 17:25] PhilReinhold opened #792 "False positive for D417"
Running ruff v0.0.124, python 3.10.6, on OSX 12.6.1

Linting the following code:

[code]

Reports
[code]

The error goes away if the `Returns` block is reformatted with a new line.

[code]

[2022-11-17 17:27] charliermarsh commented on #792
Great, thank you for the report!

[2022-11-17 17:29] charliermarsh commented on #792
(For some reason we're not detecting NumPy-style docstrings in the first example, which seems to be the root cause.)

[2022-11-17 17:39] charliermarsh commented on #283
@ofek -- `I252` (banned relative imports) just went out in `v0.0.125`.

You can use it in Hatch by adding this to your `pyproject.toml`:

[code]

Let me know if it works, or doesn't! :)

[2022-11-17 17:41] charliermarsh commented on #792
(Err, wait, Flake8 doesn't detect NumPy-style docstrings either, so probably a bug in the Google-style parser.)

[2022-11-17 17:55] #792 closed

[2022-11-17 18:02] actionless opened #794 "ANN001 is fired when argument already set (`mypy` not complain in such case)."
[code]

[code]

[2022-11-17 18:12] edgarrmondragon commented on #794
FWIW `mypy` does catch the missing annotation in strict mode:

[code]

[2022-11-17 19:04] actionless commented on #794
thanks for clarifying

i wonder, if it would make sense having such option as a separate check? (in a similar way how self or cls annotation checks were extracted out)

[2022-11-17 19:12] charliermarsh commented on #794
It could make sense to turn this into a configuration setting, like `allow_star_arg_any` and `mypy_init_return`.

[2022-11-17 19:25] actionless opened #795 "--fix for D202 removing docstring instead of line afterwards"
[code]

[code]

[code]

[2022-11-17 19:45] charliermarsh commented on #795
I don't think D300 is fixable right now so wondering what's going on here. Can you include your `pyproject.toml`?

[2022-11-17 19:53] actionless commented on #795
[code]

[2022-11-17 19:55] charliermarsh commented on #795
When I run `cargo run foo.py --fix` on that file, I get:

[code]

It deletes the first line, in trying to fix D212. So also a bug, but a little different than your output?

[2022-11-17 19:57] actionless commented on #795
@charliermarsh thanks for clarifying, i've updated the description

[2022-11-17 19:58] charliermarsh commented on #795
Thanks! The tests didn't catch this because we only had single-line docstrings... and so the start and end line were the same 🤦 Fix will go out shortly.

[2022-11-17 20:02] #795 closed

[2022-11-17 20:10] actionless commented on #795
thanks! i'm building git version of ruff to check it 👍

[2022-11-17 20:32] actionless commented on #795
it works now 🔥

[2022-11-17 21:32] actionless opened #799 "N806 false-positive with a global variable"
[code]

[code]

[2022-11-17 21:38] charliermarsh commented on #799
Good catch, will fix.

[2022-11-17 22:19] #799 closed

[2022-11-17 22:27] charliermarsh opened #801 "Come up with a more declarative interface for adding simple checks to `Checker`"
Right now, whenever we add a check to `Checker`, we have to expand the visit methods.

It'd be nice if we could instead define a mapping from node kind to check methods (and the codes they correspond to), then add those methods to `Checker` ahead-of-time, and iterate over them -- or something like that, I haven't really explored any concrete options. Generally, what I'd like is for adding a check

[2022-11-17 22:29] charliermarsh commented on #801
The AST structure makes this kind of difficult, because each check function has a slightly different interface. It'd be nice if every `ExprKind` had its own struct, instead of being an enum, so we could define checks as functions on (`Checker`, `ExprKind`).

[2022-11-17 22:40] #491 closed

[2022-11-17 23:33] actionless commented on #794
closing because it unlikely to be implemented in mypy:
https://stackoverflow.com/a/64500210/1850190

[2022-11-17 23:33] #794 closed

[2022-11-18 11:44] karpa4o4 commented on #546
@charliermarsh, i would like to take on this task. can you give any advice on how to do it?

[2022-11-18 14:32] lsorber commented on #458
FWIW, `darglint` is the main blocker [1] for us to migrate Poetry Cookiecutter [2] from `flake8` to `ruff`.

[1] https://github.com/radix-ai/poetry-cookiecutter/issues/125
[2] https://github.com/radix-ai/poetry-cookiecutter

[2022-11-18 15:07] charliermarsh commented on #458
👍 Helpful to hear! `darglint` is probably the most popular unimplemented plugin. I'd like to get around to it soon. If there's a subset of rules that are most impactful, that'd be helpful to know too for prioritization.

[2022-11-18 17:30] charliermarsh commented on #780
I'm behind on this, it'll come soon :)

[2022-11-18 18:47] pwoolvett opened #809 "[Feature Request / Proposal] Upstream / preset / profile to preconfigure options"
Would something like preset or a profile be a feature you'd like to see?

for example:

[code]

alternatively

[code]

The idea would be to (1) add a new parameter [in the cli]() and [in the config]() , and (2) override defaults eg [after this](https://github.com/charliermarsh/ruff/blob/49559da54e013b46314c5fdd1473de4dcd04c8c3/src/settings/configuration.rs#L76)

would a PR with mentioned implement

[2022-11-18 18:51] JonathanPlasse commented on #787
How can I check if `exit()` has not been overridden?

[2022-11-18 18:54] martinlehoux commented on #351
Regarding [NamedTuples](https://docs.python.org/3/library/collections.html#collections.namedtuple):
- Support `rename` (that converts invalid identifiers to  `_<k>` keys, and duplicated too) => _I  don't see a technical reason for why not, but doesn't seem very useful_
- Support `defaults` (that list fields defaults from right to left) => _I guess this one is useful_
- Support `module` (I don't ev

[2022-11-18 18:55] charliermarsh commented on #787
We have to resolve that for https://github.com/charliermarsh/ruff/issues/780. We need to check if the `BindingKind` on the identifier is still `BindingKind::Builtin`. You could omit it for now if you'd rather wait until it's solved for #780.

[2022-11-18 19:05] charliermarsh commented on #788
@JonathanPlasse - Can we close? Or was there another rule to add here?

[2022-11-18 19:12] JonathanPlasse commented on #788
Yes, the other rule is redundant.

[2022-11-18 19:13] #788 closed

[2022-11-18 19:15] charliermarsh commented on #809
Yeah I like this idea, I think this could be quite useful. The main question that comes to mind is where / how the presets should be defined.

`isort` supports presets (called "profiles"), but they're all [defined in `isort` itself](https://pycqa.github.io/isort/docs/configuration/profiles.html), which is probably not what we want here.

`eslint` supports [shareable configs](https://eslint.org/doc

[2022-11-18 19:15] charliermarsh commented on #788
Awesome.

[2022-11-18 19:19] charliermarsh commented on #786
Having trouble with the name of this option. I think `fix-exclude` might be confusing because in the language of the configuration file, `exclude` already refers to _files_ to omit. `no-fix` could be ok, but it's similar to `--no-fix` which is the command-line flag to force-disable all fixing.

I almost want `dont-fix`? But grammatically weird with the abbreviation. `skip-fix`?

[2022-11-18 19:31] pwoolvett commented on #809
Presets seem to involve more logic.

I think the most straightforward would be the "upstream" variant, which would just be a local or cached remote `.toml` with configuration to use as defaults, overriden by local ruff config+cli. Then most common "presets" could just be tomls hosted together with the documentation :).

In that case, the pre-commit hook could be used to invalidate cached url (stag

[2022-11-18 19:37] #525 closed

[2022-11-18 19:41] charliermarsh commented on #809
Yeah. We could also just cache it in `.ruff_cache` and then users can always `rm -rf .ruff_cache` to clear it out. (I want to make regular purging of the `.ruff_cache` slightly more automatic anyway, right now it just gets bigger with every release.)

[2022-11-18 23:48] charliermarsh commented on #809
@pwoolvett - Are you interested in working on it? :)

[2022-11-18 23:49] #786 closed

[2022-11-18 23:51] tlambert03 commented on #786
fantastic! thank you!

That turn around time was rust-fast ;)

[2022-11-18 23:57] charliermarsh commented on #786
Let me know if that interface works for you! It's documented a bit in the https://github.com/charliermarsh/ruff/pull/811 summary. (We desperately need proper docs for all the configuration settings!)

[2022-11-18 23:58] tlambert03 commented on #786
yep, `unfixable` works fine for me.  will play after the release finishes building

[2022-11-19 00:03] edgarrmondragon commented on #458
For me personally, they're probably DAR101, DAR102, DAR201, DAR202 and to a lesser extent DAR301, DAR302, DAR401 and DAR402

[2022-11-19 00:58] warsaw opened #813 "Replacing black and blue?"
Do you have thoughts about `ruff` eventually subsuming and replacing `black` or [blue](https://blue.readthedocs.io/en/latest/)?  I'm one of the maintainers of `blue` (because we have different opinions about a few things), and it's been pretty difficult to both keep our monkey patching of black up to date, and rely on flake8's `pyproject.toml` support across multiple different major versions of `f

[2022-11-19 03:22] charliermarsh commented on #703
Somehow this ended up being a tiny bit _slower_: https://github.com/charliermarsh/ruff/tree/charlie/bitset. I'm guessing that I did something wrong.

[2022-11-19 06:15] JonathanPlasse commented on #780
@charliermarsh, I could work on it if it is ok with you.

[2022-11-19 08:34] tekumara opened #815 "Feature request: sort first-party libraries last"
Ruff currently sorts imports without distinction between first-party and third-party libraries.

For feature parity with isort, it would be great if ruff could sort first-party libraries into their own section at the end of the imports. 😍

[2022-11-19 11:59] harupy commented on #722
Are there any other auto-fixable checks?

[2022-11-19 12:03] harupy commented on #722
Is `E722` auto-fixable?

Fix:

[code]

to:

[code]

[2022-11-19 12:39] JonathanPlasse commented on #722
No, this is still bad. `flake8-blind-except` consider this an error.

[2022-11-19 14:28] charliermarsh commented on #815
This should be the current behavior! Can you try setting the `src` path in your `pyproject.toml`, like:

[code]

[2022-11-19 18:43] andberger commented on #640
@charliermarsh Mind if I grab this? 🙏

[2022-11-19 18:52] charliermarsh commented on #640
@andberger - Please do! That'd be great! If you have any questions at all, just ask.

[2022-11-19 19:02] charliermarsh commented on #813
I'm really interested in this and definitely consider it to be within scope. Would love to chat about how it would work and how we'd push it forward :)

To-date, I've focused on making Ruff a Black-compatible linter and code transformation tool, but I'd like it to expand to an all-in-one code formatter (ideally, though, in a way that's totally opt-in and incrementally adoptable, so users _could_ c

[2022-11-19 22:05] andersk commented on #813
More information than just AST + comments will likely be needed. Black preserves [empty lines](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#empty-lines) between statements (up to 1 or 2 depending on where), [extra parentheses](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#parentheses) with certain specific exceptions, the distincti

[2022-11-19 23:26] bryevdv opened #820 "False positive for F841"
Today the latest version of ruff (0.0.128) started  complaining about this test code:
[code]
with

It seems  the lasts`ruff` does not understand the usage with `nonlocal`. Previous versions of `ruff` (and `flake8`) do not warn on this code.

(this isn't code we'd ever use in the library itself, but we do have to handle whatever crazy cases users might throw at us, and this is a test for one of tho

[2022-11-19 23:31] charliermarsh commented on #820
I’ll take a look at this tonight! Thanks for reporting.

[2022-11-19 23:41] bryevdv commented on #820
I just realized I didn't actually provide a proper MRE:
[code]
with this setup:

https://github.com/bokeh/bokeh/blob/46b77a3a8d872237f333b7c7193887016d9ce507/pyproject.toml#L111-L124

[2022-11-19 23:54] charliermarsh commented on #820
Thanks! As I expected this was introduced in https://github.com/charliermarsh/ruff/pull/800.

[2022-11-20 00:02] charliermarsh commented on #820
The [Chesterton's Fence](https://en.wiktionary.org/wiki/Chesterton%27s_fence) was strong in this one:

<img width="812" alt="Screen Shot 2022-11-19 at 7 01 50 PM" src="https://user-images.githubusercontent.com/1309177/202876328-a0b7d64b-3a16-4791-a009-5bcb76a0d175.png">

[2022-11-20 00:03] tekumara commented on #815
Oh fantastic that works, thank you!

[2022-11-20 00:03] #815 closed

[2022-11-20 00:09] pwoolvett commented on #809
sure! ill have a go at it and send a pr

[2022-11-20 00:16] charliermarsh commented on #815
Sweet!

[2022-11-20 00:21] #820 closed

[2022-11-20 00:46] #572 closed

[2022-11-20 00:51] charliermarsh commented on #722
@harupy - Probably ok to close? Do you agree?

[2022-11-20 00:53] charliermarsh commented on #820
This is going out in [v0.0.129](https://github.com/charliermarsh/ruff/releases/tag/v0.0.129) (building now).

[2022-11-20 01:59] hmc-cs-mdrissi commented on #689
Pylint has a very long list of rules. I currently use pylint but mainly stick to W/E/F rules as they catch most of interesting issues in my codebase. The more stylistic rules like formatting/variable naming/docstrings I value less.

I'd find most value in Error [rules](http://pylint-messages.wikidot.com/all-codes) here. Almost all of them I enable, they've caught a number of bugs, and find false p

[2022-11-20 03:33] harupy commented on #722
Yes, let's close this.

[2022-11-20 03:42] #722 closed

[2022-11-20 08:02] andersk commented on #660
Maybe we just want to apply a non-conflicting subset of the fixes, then repeatedly rerun the entire linter on the file until it converges?

I doubt we’re ever going to be able to guarantee that enough operations commute to make any other strategy work correctly.

[2022-11-20 09:28] debfx opened #825 "Create CACHEDIR.TAG in .ruff_cache"
It would be nice if ruff created a CACHEDIR.TAG file (as specified in https://bford.info/cachedir/) in .ruff_cache/ so backup tools can automatically exclude it.

[2022-11-20 10:06] martinlehoux opened #826 "U007 Autofix on string type format"
I have an issue with U007 autofix, but I can't really say if it's a bug or not.

I have this piece of code (the `if TYPE_CHECKING:` is required for cyclic imports issue)

[code]

and it gets fixed into

[code]

which is not the same type as before

[2022-11-20 10:07] martinlehoux commented on #826
That being said, maybe it's not the way to do types, and if it's just a workaround I need, I can simply ignore this check on this specific line

[2022-11-20 10:07] martinlehoux commented on #826
That being said, maybe it's not the way to do types, and if it's just a workaround I need, I can simply ignore this check on this specific line

[2022-11-20 11:15] JonathanPlasse opened #827 "Implement pyupgrade"
- [x] Set literals
- [x] Dictionary comprehensions
- [x] use `datetime.UTC` alias
- [x] Format Specifiers
- [x] printf-style string formatting
- [x] Unicode literals
- [x] Invalid escape sequences
- [x] `is` / `is not` comparison to constant literals
- [x] `.encode()` to bytes literals
- [x] extraneous parens in `print(...)`
- [x] unittest deprecated aliases
- [x] `super()` calls
- [x] "new style"

[2022-11-20 15:07] charliermarsh commented on #660
Yeah, I think that's very likely what we'll have to do.

[2022-11-20 15:10] charliermarsh commented on #826
Ohh interesting, yeah that's a bug. According to [this issue](https://bugs.python.org/issue45857), you're expected to instead do `ModelAOrB = "ModelA | ModelB"`.

[2022-11-20 15:26] #351 closed

[2022-11-20 15:26] charliermarsh commented on #351
Completed by @martinlehoux! Thank you!

[2022-11-20 15:53] #825 closed

[2022-11-20 15:53] charliermarsh commented on #780
That'd be great @JonathanPlasse! I know it's relevant to the `sys.exit` stuff too.

[2022-11-20 16:08] andriilahuta opened #832 "[Windows] Issues when running as a module"
If the interpreter path contains spaces (e.g. `C:\Program Files\Python311\python.exe`), then ruff produces the following output: `Files\Python311\Scripts\ruff:0:0: E902 The system cannot find the path specified` and exits with code 1.

Replacing
[code]
with
[code]
in `__main__.py` seems to resolve the issue.

[2022-11-20 17:55] ofek commented on #283
Thank you!!! https://github.com/pypa/hatch/pull/607

[2022-11-20 18:36] #230 closed

[2022-11-20 19:39] nstarman opened #834 "N804 skips positional-only args"
Rule N804 erroneously skips positional-only args. I found this in a piece of code similar to the following MWE.
Ruff is saying that ``other`` should be `cls`.

[code]

[2022-11-20 19:59] JonathanPlasse commented on #834
I would like to look into it.

[2022-11-20 20:11] JonathanPlasse opened #835 "Add the possibility to add import and respect the import sorting."
- In #816, we need to add the `sys` module if missing and keep the imports sorted.

[2022-11-20 20:48] charliermarsh commented on #834
Fixed in https://github.com/charliermarsh/ruff/pull/836 thanks to @JonathanPlasse.

[2022-11-20 20:48] #834 closed

[2022-11-20 20:50] JonathanPlasse opened #839 "Auto-generate list of fixable defaults"
(We should auto-generate this, see TODO above.)

_Originally posted by @charliermarsh in https://github.com/charliermarsh/ruff/pull/838#discussion_r1027349930_

[2022-11-20 20:57] charliermarsh commented on #826
It looks like pyupgrade [skips those altogether](https://github.com/asottile/pyupgrade/blob/5b527acec11568ee095181a333adaaa1fec9fe27/pyupgrade/_plugins/typing_pep604.py#L147).

[2022-11-20 22:31] ofek commented on #813
This would be excellent; all users would need would be Ruff and a type checker

[2022-11-20 22:35] ofek opened #840 "N807 should account for PEP 562"
`__getattr__` / `__dir__` - https://peps.python.org/pep-0562/

[2022-11-20 22:50] charliermarsh commented on #840
I can fix this.

[2022-11-20 22:55] #840 closed

[2022-11-20 23:09] #787 closed

[2022-11-20 23:27] ofek commented on #840
Thanks!

[2022-11-20 23:38] charliermarsh commented on #840
Should be live now in [v0.0.132](https://github.com/charliermarsh/ruff/releases/tag/v0.0.132), but let me know if you see otherwise.

[2022-11-20 23:43] ofek commented on #840
Success https://github.com/pypa/hatch/pull/609

[2022-11-20 23:44] brettcannon opened #842 "Comments among import statements flagged as incorrect"
For instance, having a comment at the end of an import line gets flagged:

[code]

[2022-11-20 23:46] brettcannon commented on #842
It also fails on the original version that Black and isort produce:
[code]

[2022-11-20 23:52] charliermarsh commented on #842
@brettcannon -- Just trying to reproduce this - is there any chance you're on a version earlier than v0.0.122?

[2022-11-21 00:38] tekumara commented on #593
IIUC `target_version` is mostly used by the pyupgrade checks.

[2022-11-21 01:10] hmc-cs-mdrissi commented on #826
If you want the whole string then whether it’s a string or a type alias becomes more ambiguous and behavior may vary by type checker. The recommendation there is to do,

ModelAorB: TypeAlias = “ModelA | ModelB”

This may require adding an import to TypeAlias with additional caveat the TypeAlias is only a thing since 3.10 or if you use typing extensions. It’s probably safest to just skip this case

[2022-11-21 01:32] tekumara opened #844 "First-party imports not being sorted"
_myapp/main.py_:
[code]

_pyproject.toml_
[code]

When I run `ruff myapp/main.py` it preserves the sort order above instead of sorting myapp last like isort does, eg:
[code]

ruff 0.0.132

[2022-11-21 01:33] CelebrateVC commented on #662
From what I could tell looking into this - it's looking hopeful

simply dropping in `globset::GlobMatcher` instead of `glob::Pattern` slowed things down (see img 1), but refactoring and basically gutting `FilePattern` - and having `fs::is_excluded`  take 1 `globset::GlobSet` instead of an `Iterator<item=FilePattern>` then there are performance gains to get gotten (img 2)

my code is still rather m

[2022-11-21 02:10] charliermarsh commented on #826
@hmc-cs-mdrissi - Yeah totally agree -- I think we need to just skip the upgrade in that case. (`"ModelA | ModelB"` is also much more confusing IMO than the same type expressed as a `Union`.)

[2022-11-21 02:11] charliermarsh commented on #662
@CelebrateVC - Awesome! Happy to review whenever it's ready for a look.

[2022-11-21 02:18] charliermarsh commented on #844
Confirmed bug!

[2022-11-21 02:22] charliermarsh commented on #844
I think in this case you actually want:

[code]

Since those are really source _roots_, so if you have `src = ["myapp"]`, and you `import myapp.module`, you're effectively looking for `./myapp/myapp/module.py`. Does that fix it?

[2022-11-21 02:41] #826 closed

[2022-11-21 02:59] tekumara commented on #844
OIC, yes that works, thank you!

[2022-11-21 02:59] #844 closed

[2022-11-21 02:59] charliermarsh commented on #844
Sorry for the confusion!

[2022-11-21 03:08] charliermarsh commented on #813
Yeah, I'd like to see what minimal set of extensions we'd need to the AST and parser to support Black-compatible formatting.  Part of me wonders if we could generate any extra metadata by taking the AST and augmenting it through a second pass over the token stream... For example, we could collect comments and empty lines. We could also tag strings as normal or raw (though that's not captured in th

[2022-11-21 09:33] ThirVondukr opened #847 "Parenthesized context managers raise E999"
Ruff version: 0.0.132
Ruff configuration: Default

Ruff reports E999 (Syntax Error) for parenthesized context managers [that were introduced in python 3.10](https://docs.python.org/3/whatsnew/3.10.html#parenthesized-context-managers)

This raises E999
[code]
[code]

However it works fine if you use `\` to split line:
[code]

[2022-11-21 10:18] JonathanPlasse opened #848 "Implement flake8-pyi"
# [`flake8-pyi`](https://pypi.org/project/flake8-pyi/)

## Error codes

- [x] `Y001` Names of TypeVars, ParamSpecs and TypeVarTuples in stubs should usually start with _. This makes sure you don't accidentally expose names internal to the stub.
- [x] `Y002` If test must be a simple comparison against sys.platform or sys.version_info. Stub files support simple conditionals to indicate differences b

[2022-11-21 10:47] JonathanPlasse opened #849 "Isort sorting order"
`isort` sorting order is

[code]

`ruff` sorting order is

[code]

It would be nice that the behavior of `ruff` matched `isort`.

[2022-11-21 11:28] JonathanPlasse opened #850 "Implement flake8-noqa"
| Error code | Description
| ---------- | -----------
| <ul><li>- [ ] `NQA001`</li></ul> |	"#noqa" must have a single space after the hash, e.g. "# noqa"
| <ul><li>- [ ] `NQA002`</li></ul> |	"# noqa X000" must have a colon, e.g. "# noqa: X000"
| <ul><li>- [ ] `NQA003`</li></ul> |	"# noqa : X000" must not have a space before the colon, e.g. "# noqa: X000"'
| <ul><li>- [ ] `NQA004`</li></ul> |	"# no

[2022-11-21 12:14] SigureMo commented on #848
Flake8-pyi currently only works with `.pyi` files (https://github.com/PyCQA/flake8-pyi/issues/118), it would be great if Ruff could support `.py` files.

Flake8-pyi author list some rules in https://github.com/qutebrowser/qutebrowser/issues/7098#issuecomment-1109959035 that can be easily apply to `.py` files

In addition, there are some rules that overlap with pyupgrade, such as Y037 and U007.

[2022-11-21 13:05] g-as commented on #847
Related #54, #286

[2022-11-21 13:22] kalekseev opened #851 "mccabe implementation differs from flake8"
ruff reports complexity - 11 while flake8 - 9, cc @edgarrmondragon
[code]

BTW flake8 error message also includes class name

[2022-11-21 13:53] kemingy opened #852 "support light theme"
Currently, the style of `filename` is bold white:

https://github.com/charliermarsh/ruff/blob/6733aad216295a9f7850d16291f7831cc31ec7fa/src/message.rs#LL59C71-L59C71

This means, if users are using a light theme, it's almost invisible.

![image](https://user-images.githubusercontent.com/12974685/203072105-8253bef8-e9e0-4bd6-8f01-02feeb80518f.png)

I wonder if this can be another color.

[2022-11-21 14:29] JonathanPlasse opened #853 "per-file-ignores glob **.py crash"
Running the command below with double star crash Ruff.

[code]

with this error code:

[code]

ruff version: 0.0.132
python version: 3.11.0
os: Ubuntu 20.04

[2022-11-21 14:48] charliermarsh commented on #852
Nice idea, for sure.

[2022-11-21 15:00] charliermarsh commented on #847
👍 Unfortunately a known problem that I need to invest in resolving :) Same for structural pattern matching.

[2022-11-21 15:18] #852 closed

[2022-11-21 15:20] ThirVondukr commented on #847
Np, just made an issue so it's documented and is easier to find ❤️

[2022-11-21 15:25] charliermarsh commented on #851
Is it that class definitions don't count towards complexity?

[2022-11-21 15:26] charliermarsh commented on #851
Yeah, this also reports 9, so I'm guessing that's the distinction:

[code]

[2022-11-21 15:27] charliermarsh commented on #851
Maybe because they don't define new / distinct forks in the code vis-a-vis the methods within them.

[2022-11-21 15:27] charliermarsh commented on #847
Always appreciated!

[2022-11-21 18:30] #851 closed

[2022-11-21 18:39] #853 closed

[2022-11-21 19:54] JonathanPlasse opened #865 "What does Ruff stands for?"
RUst Fast Flake8?

[2022-11-21 21:14] charliermarsh commented on #865
Something like that! It doesn't officially stand for anything, but I did want something that somehow incorporated Rust and Flake phonetically. I also liked that Ruff is: (1) very easy to type (helpful for a command-line tool); and (2) a homophone of "rough", since I released it in a very rough state to start.

Just for fun, here's the list of names I considered (most of them are bad):

- pyretic
-

[2022-11-21 21:14] #865 closed

[2022-11-21 21:49] ukalwa opened #866 "[Bug] unused `typing` imports are not auto-fixed when pyupgrade option is selected"
Ruff version: 0.0.132
Ruff configuration: Default
Python version: 3.10

## Simple reproduction

[code]

[code]

When I ran `ruff test.py --fix`, the file changed to:

[code]
I would expect it to also remove unused imports `from typing import List`. As a workaround I run the command again to remove unused imports but it would be great if ruff can do it automatically.

Let me know if there is anythi

[2022-11-21 22:37] charliermarsh commented on #866
Thank you for the kind words, and for the detailed report!

This is sort of a "known" bug but definitely something I'd like to fix. (This would be resolved automatically if we change Ruff to iteratively fix + re-run until the code stabilizes, as suggested in #660.)

[2022-11-21 23:55] brettcannon commented on #842
I just got the VS Code extension update that comes with 0.0.132 and that fixed it! Sorry about the noise.

[2022-11-21 23:55] #842 closed

[2022-11-22 01:37] charliermarsh commented on #286
Ok, time for me to revive this thread and start thinking on the right long-term parser strategy. We need to support the 3.10 constructs!

[2022-11-22 01:39] charliermarsh commented on #842
No problem!

[2022-11-22 02:22] charliermarsh opened #868 "Upgrade autofix to fix-until-stable"
See: #660. The idea is that, if we apply an autofix, we should re-lint the fixed file, apply any fixes, and continue until the source code has stabilized (up to some reasonable limit). We may want to make this opt-in to start.

[2022-11-22 02:22] charliermarsh commented on #640
Solved by #640.

[2022-11-22 02:22] #640 closed

[2022-11-22 03:33] charliermarsh commented on #286
@Seamooo - Do you have any thoughts on or interest in working on this too?

[2022-11-22 04:29] Seamooo commented on #286
Definitely have some interest in this area. A couple of comments as I've been going down various rabbit holes of python parser implementations:
- The parser should be built from the CPython PEG, directly transpiled into either an equivalent grammar or used via proc_macro to generate the parser
  - Run into a lot of grammar specifications with weird FIXMEs about multiple edge cases because their gr

[2022-11-22 04:32] Seamooo commented on #286
Ideally when https://github.com/charliermarsh/ruff/pull/742 becomes mergeable, implementing those traits for the IR output by the parser would make it immediately useable.

[2022-11-22 04:52] charliermarsh commented on #286
Yeah rust-peg does look good, and I believe that's what LibCST uses. My only hesitation there is that the LibCST parser is really slow compared to the RustPython parser? But I don't know how much, if any, of that is due to rust-peg. This is just based on the fixtures in the LibCST codebase:

[code]

(`rust_python_parse/all` is the RustPython parser, `parse/all` is the LibCST parser without inflati

[2022-11-22 04:52] charliermarsh commented on #286
(And agreed on #742.)

[2022-11-22 05:21] tekumara opened #870 "Feature request: support flake8-unused-arguments"
[flake8-unused-arguments](https://pypi.org/project/flake8-unused-arguments/) has warnings for:

This would also close a gap with VS Code's Pylance which has a U100 equivalent ("x is not accessed") built in.

[2022-11-22 05:33] charliermarsh commented on #870
Nice idea.

[2022-11-22 08:04] martinlehoux commented on #827
I guess I can just pick some rules in here for implementation?

[2022-11-22 08:13] JonathanPlasse commented on #827
Yes, can you comment on the one you choose so there is no conflict?

[2022-11-22 10:09] lolrenx commented on #865
rake8 cracked me up

[2022-11-22 14:20] charliermarsh opened #871 "Rename pyupgrade rules from `U001` to `UP001`"
I worry that `U` will conflict with other plugins, and `UP` feels more appropriate.

[2022-11-22 14:27] charliermarsh opened #872 "Add support for `vulture`-like dead code detection"
As a maintainer of a large Python codebase, I found [`vulture`](https://github.com/jendrikseipp/vulture) to be really useful, especially for detecting unused functions and unused modules.

This would require us to introduce some new patterns and capabilities that don't yet exist in Ruff, but should! For example, we need to be able to run some analysis over every file (list the used members), then

[2022-11-22 15:14] ukalwa commented on #866
Yes, that makes sense.

If no one hasn’t started working on this, I can give it a try if you can point me in the right direction.

[2022-11-22 17:01] charliermarsh commented on #813
For more inspiration, there's also [tokenize-rt](https://github.com/asottile/tokenize-rt), which implements round-tripping for Python's `tokenize`. However, this would require that the entire autoformatter operate on tokens rather than an AST, which seems challenging.

[2022-11-22 17:16] #540 closed

[2022-11-22 17:23] charliermarsh commented on #866
@ukalwa - I started on this last night! Sorry to step on your toes!

[2022-11-22 17:53] isidentical commented on #286
CC: @davidhalter (I think you were working on a Rust-based Fast Python Parser [?])

[2022-11-22 18:29] charliermarsh opened #873 "Publish to Homebrew"

[2022-11-22 18:39] ukalwa commented on #866
Cool, no worries 😀

[2022-11-22 19:15] charliermarsh commented on #286
I'm going to start playing around with a straight port of pegen to Rust. (Or, more specifically, modifying pegen to output a Rust target, which IIUC will also require rewriting the Python code from `data/python.gram` in Rust.)

[2022-11-22 21:37] #868 closed

[2022-11-22 21:38] charliermarsh commented on #866
Should be fixed by https://github.com/charliermarsh/ruff/pull/875.

[2022-11-22 21:38] #866 closed

[2022-11-22 21:38] charliermarsh commented on #660
Should be fixed by https://github.com/charliermarsh/ruff/pull/875.

[2022-11-22 21:38] #660 closed

[2022-11-22 22:06] charliermarsh commented on #389
I think if we implement B023, we should feel comfortable closing this.

[2022-11-22 22:24] JonathanPlasse commented on #835
@charliermarsh, does #875 facilitate the implementation of this issue?

[2022-11-22 22:26] martinlehoux commented on #827
I'll get started on `six` code

[2022-11-22 23:26] davidhalter commented on #286
Thanks for bringing this up @isidentical.

I have indeed written a Python parser in Rust. But I do not feel comfortable sharing it yet. While it's faster than any other Python parser I have seen, it's a bit rough around error recovery and few other things, but generally parses all valid Python programs (AFAIK). So if I ever release it, I'm happy to let you guys know.

[2022-11-22 23:43] charliermarsh commented on #286
Thanks @davidhalter! Super cool. Would love to see it if you ever release it.

If you don't mind sharing: did you write it from scratch? Or is it built atop a parser generator?

[2022-11-23 03:29] hhartzer opened #885 "Failed to build wheel on FreeBSD"
This looks awesome and I am really excited to try it out. However, I'm using FreeBSD so I have to build my own wheels.

I got this error when building the wheel with `pip install`:

[code]

Seems like it could be a bug in rustpython-parser. It mentions https://github.com/rust-lang/rust/issues/87335

Is there anything I should try with this? Should I open an upstream bug? Not well versed in Rust, u

[2022-11-23 03:33] charliermarsh commented on #885
Thanks! Sorry for the trouble. Can you check what version of Rust you have? (It should be `rustup show`.)

Separately, do you know what's required to build wheels for FreeBSD? I'm really not familiar but I'm happy to support it!

[2022-11-23 03:53] hhartzer commented on #885
Appreciate your fast response!

I actually don't have `rustup`, but my rust version appears to be 1.64.0 from the package's version and rustc's `--version` output. I don't know if that's a bit out of date or not.

As for FreeBSD wheels, I haven't done that before. I don't see any mention of FreeBSD with cross compiling for Maturin, nor issues on the topic. It may be possible though to use [Cirrus

[2022-11-23 03:59] hhartzer commented on #885
I'm starting to think that I need 1.65. 1.65 is incoming for FreeBSD (already in ports), but will probably take a couple more days to build.

https://blog.rust-lang.org/2022/11/03/Rust-1.65.0.html#let-else-statements

This is good to know, although surprising to me that such a newly released language feature would be used already, a couple weeks later. In the Python world there's usually a fairly

[2022-11-23 04:07] charliermarsh commented on #885
Ah ok! Yeah, it looks like RustPython is now using some 1.65 language features. (1.65 recently reached the "stable" channel so it's fair game.)

[2022-11-23 04:08] charliermarsh commented on #885
You could try `pip install ruff==0.0.132` (I upgraded RustPython in 0.0.133, and it's possible that the older version was compilable under 1.64, I'm not 100% sure!).

[2022-11-23 04:13] messense commented on #885
pypi doesn't allow uploading wheels besides Linux, macOS and Windows at the moment.

https://github.com/pypi/warehouse/blob/683e578c55af527e79d7941670eb61b69cb37865/warehouse/forklift/legacy.py#L79-L147

[2022-11-23 04:15] messense commented on #885
@charliermarsh Consider set `rust-version` in Cargo.toml to produce a better error message in this case.

https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field

[2022-11-23 04:19] hhartzer commented on #885
Thank you! I'm actually going to give rust 165.0 a try via `rustup`. Will report back.

[2022-11-23 04:23] messense commented on #885
BTW, Cirrus CI is good choice for testing FreeBSD, and it even supports arm64 macOS and Linux, we use it in maturin: https://github.com/PyO3/maturin/blob/main/.cirrus.yml

[2022-11-23 04:24] charliermarsh commented on #885
Every time @messense chimes in I learn a bunch of good stuff, thank you.

[2022-11-23 04:53] charliermarsh commented on #286
(I started on this in earnest tonight, I don't know if it will prove to be the right approach but the lower bound is that I learn a lot.)

[2022-11-23 05:46] hhartzer commented on #885
`ruff` builds and seems to run! Thank you!

[2022-11-23 05:46] #885 closed

[2022-11-23 06:51] jhallard opened #888 "Support # flake8: noqa tag at top of file to ignore entire file"
We occasionally have files in our code base that we want to ignore certain flake8 errors for. Instead of marking each line, `flake8` allows one to simply tag the file with
[code]

to ignore a specific error or
[code]

to ignore all errors

[2022-11-23 07:34] jhallard opened #889 ""F841 local variable unused" triggering erroniously"
Example code below:

[code]

This is triggering for me

[code]

[2022-11-23 08:44] fnep opened #890 "F841 is triggered by unused variables in tuple unpacking from with statements"
When tuple unpacking is used within `as` of a with statement, F841 is raised for unused variables. This is fine if really all variables are unused, but if I need only one, I have not other choice then getting all. This happens only within functions.

[code]

using ruff 0.0.135 gives me

[code]

In flake8, this is case works.

[2022-11-23 11:37] JonathanPlasse commented on #890
You can use an underscore to ignore unused values.

[code]

[2022-11-23 13:15] olliemath opened #891 "Implementing .format checks"
Hi, I'm interested in contributing pyflakes' `.format(...)` checks to ruff. These can give runtime errors (especially, in rarely hit code paths, like trying to give nice exception messages), so I think they'd be necessary to have for my team to move from flake8 to ruff.

As far as I can tell, the hard part is getting a rusty equivalent of python's `_string.formatter_parser`, which is implicitly us

[2022-11-23 13:21] fnep commented on #890
As a workaround for a few places `_` would work, I'm testing a huge codebase. Thank you anyway for the idea.

Neither pyflakes nor flake8 find this an issue in my tests.

[2022-11-23 14:20] obi-jerome opened #893 "FBT003 triggered on dict"
Hi !
I found four false positives for the rule FBT003 on dict objects.
get, pop, setdefault and fromkeys take a default argument that is not declared positional but is in fact.

https://docs.python.org/2/library/stdtypes.html#dict.get
https://docs.python.org/2/library/stdtypes.html#dict.pop
https://docs.python.org/2/library/stdtypes.html#dict.setdefault
https://docs.python.org/2/library/stdtypes.h

[2022-11-23 14:36] JonathanPlasse commented on #890
I meant that it might be a bug.

[2022-11-23 14:46] charliermarsh commented on #890
Hmm, yeah, I think we may want to allow this.

Some related stuff here: https://github.com/charliermarsh/ruff/issues/161.

[2022-11-23 14:47] charliermarsh commented on #889
Thanks for this! Will fix today.

[2022-11-23 14:50] charliermarsh commented on #893
Oh interesting! Thank you. \cc @pwoolvett

[2022-11-23 15:02] charliermarsh commented on #891
Awesome! This would be very welcome and I'm happy to support you in any way I can. (In the first sentence, you said "pylint's `.format(...)`" checks -- did you mean Pyflakes? Just confirming.)

I think I'd rather vendor (i.e., copy over) `format.rs` than add `rustpython-vm` as a dependency since `rustpython-vm` itself is a pretty hefty crate. We could also deviate a bit from `format.rs` (it doesn'

[2022-11-23 15:03] charliermarsh commented on #891
It makes sense to me, too, to split these into separate checks, similar to how docstrings are handled, even if there's a bit of repeated work. Your summary suggests to me that you have good intuition on where the Pyflakes checks are useful vs. confusing :)

[2022-11-23 15:04] charliermarsh opened #894 "Add Ruff to Conda"

[2022-11-23 15:05] charliermarsh commented on #894
\cc @wolfv :)

[2022-11-23 15:13] #889 closed

[2022-11-23 15:20] olliemath commented on #891
I did indeed!

OK, cool - so my first step will be adding a vendored version of the functions from `format.rs` with some good test coverage.
If there's an obvious way to make them a bit lighter (only pulling out information present in the rules) I'll deviate a bit, but try not to reinvent the wheel.

I was thinking to place them in `src/pyflakes/helpers.rs` unless you have a better location in min

[2022-11-23 15:22] charliermarsh commented on #891
Maybe `pyflakes/format.rs`? Or `pyflakes/strings.rs`? But not picky.

[2022-11-23 15:36] pwoolvett commented on #893
1. It is a [boolean trap](https://youtu.be/CnRkXO_a5mI?t=90) !
2. Those links are from python2!
The problem is (python3.8 at least, probably earlier) the signature of the method in fact [enforces positional only](https://peps.python.org/pep-0570/#recap)! :

[code]
3. Normally you would do `{}.get("non_existent key", default=4)`, but the new signature wont allow it given (1)

temporarily you'll hav

[2022-11-23 15:53] gitpushdashf opened #896 "pyupgrade Python Version"
This is awesome!

Is there anything like pyupgrade's python_version? It lets you set the Python version that you want to update your code to. I find it nice to set that to the oldest non-EOLed Python version for open source libraries and to the latest version for applications.

The arguments for pyupgrade are `--py36-plus`, `--py37-plus`, etc.

[2022-11-23 16:17] jhallard commented on #889
Thank you!!

[2022-11-23 16:40] charliermarsh commented on #890
(Will be fixed today.)

[2022-11-23 16:41] charliermarsh commented on #896
Let me know if you run into any issues with that :)

[2022-11-23 16:41] #896 closed

[2022-11-23 16:46] gitpushdashf commented on #896
My bad! You're right. Seems to work so far. Thank you!

[2022-11-23 18:11] davidhalter commented on #286
@charliermarsh Yes I wrote it from scratch, it is a kind of weird mixture of LL and PEG, it's also a parser generator. I essentially pass it a slightly modified version of the official EBNF grammar.

I personally love writing parser generators, so when the opportunity presented itself, I took it :)

[2022-11-23 22:41] charliermarsh commented on #889
Going out in [v0.0.136](https://github.com/charliermarsh/ruff/releases/tag/v0.0.136) -- sorry for the delay :)

[2022-11-23 22:44] jhallard commented on #889
Incredible turn around.. we just adopted `ruff` internally at my company and are seeing 50x speedups over out flake8, black, and isort lint stack!

[2022-11-23 23:09] charliermarsh commented on #889
@jhallard - Amazing! Don't hesitate to file issues or feature requests as they come up, would love to hear them and definitely aim to be very attentive to early adopters :)

(Separately, I've never used the enterprise product but was always a big fan of the ideas around Snorkel! I built a lot of infra and tooling for data labeling + active learning loops when I was at [Spring](https://www.springdi

[2022-11-24 01:28] #890 closed

[2022-11-24 05:20] harupy commented on #389
@charliermarsh

Agreed! Feel free to implement B023. I'm not sure if I can implement it. The implementation looks complicated.

[2022-11-24 05:31] messense commented on #873
Per https://docs.brew.sh/Acceptable-Formulae#niche-or-self-submitted-stuff

The 0.0.x versioning of ruff might be an issue? Perhaps a 0.1.x should be release before submitting formulae to homebrew-core. It doen't matter if you just want to maintain a [tap](https://docs.brew.sh/Taps).

[2022-11-24 05:36] charliermarsh commented on #873
I think I have a working recipe here, but I need Homebrew to update to Rust 1.65.0.

[2022-11-24 15:04] charliermarsh commented on #269
Flake8 6.0.0 is also out!

[2022-11-25 01:25] charliermarsh commented on #894
https://github.com/conda-forge/staged-recipes/pull/21281

[2022-11-25 03:32] charliermarsh commented on #662
Done thanks to @CelebrateVC!

[2022-11-25 03:32] #662 closed

[2022-11-25 04:41] charliermarsh commented on #389
@harupy - Sounds good, I can give it a try!

[2022-11-25 04:41] harupy commented on #389
Awesome, thank you!

[2022-11-25 04:43] harupy commented on #389
Is `B902` covered by `N804` and `N805` in pep8-namiing?

[2022-11-25 04:44] charliermarsh commented on #389
@harupy - Yeah I believe so.

[2022-11-25 08:30] fnep commented on #890
Works perfect in ruff==0.0.137, thank you :)

[2022-11-25 11:56] facundobatista commented on #659
This would mean that we could do something like the following, right?

[code]

Thanks!

[2022-11-25 14:49] charliermarsh commented on #890
Awesome :)

[2022-11-25 14:49] charliermarsh commented on #659
Yup, that's right!

[2022-11-25 14:50] charliermarsh commented on #659
@messense - I wasn't certain on this last time -- if we bundle a Python API with Ruff, will we need to build separate wheels for every Python version?

[2022-11-25 14:54] messense commented on #659
If you can use [`abi3` features](https://pyo3.rs/v0.17.3/building_and_distribution.html#py_limited_apiabi3), one wheel per platform, otherwise you need to build separate wheels for every Python version.

[2022-11-25 14:55] charliermarsh commented on #659
Awesome thank you. I think we should be able to do that, so maybe this will be really straightforward.

[2022-11-25 15:37] kalekseev opened #904 "mccabe complexity score differs from flake8"
[code]

[2022-11-25 16:09] olliemath opened #905 "Implementing % formatting checks"
Now that I've implemented the `.format` checks, I feel like I should grind out the `%` format checks too. Although I won't have time for the implementation until the back half of next week.

The strategy would be similar: if we detect a binary operation that looks right, build a summary of the format string and use that to perform subsequent checks.

Most of the logic is going to be in parsing the

[2022-11-25 16:46] olliemath commented on #905
I think I've tracked down the place to start tugging at the RustPython codebase: https://github.com/RustPython/RustPython/blob/4331d652853a8618bc634b2f7f96878640f463a3/vm/src/anystr.rs#L438

[2022-11-25 17:57] charliermarsh commented on #904
Thanks! Will take a look at this today.

[2022-11-25 18:12] charliermarsh commented on #904
I think that the actual scoring is in the same in both tools -- they bother report `11`:

[code]

The difference is that in Flake8, just adding `--select C901` is insufficient for enabling the check. You _also_ need to set `--max-complexity` explicitly, otherwise it defaults to `-1`.

[2022-11-25 18:13] #904 closed

[2022-11-25 18:13] charliermarsh commented on #904
Let me know if that resolves for you! Feel free to follow-up here, just closing pre-emptively.

[2022-11-25 18:14] #891 closed

[2022-11-25 18:14] kalekseev commented on #904
Oops, my bad, sorry

[2022-11-25 18:16] charliermarsh commented on #904
No prob at all, I found that behavior confusing in Flake8 so intentionally differed in Ruff.

[2022-11-25 18:40] charliermarsh commented on #873
Maybe it'll get rejected, we'll see!

https://github.com/Homebrew/homebrew-core/pull/116712

[2022-11-25 23:30] #389 closed

[2022-11-26 03:44] messense commented on #174
+1 for this.

As for using the `ignore` crate, IMO it should work generally, but be aware that it's not 100% compatible with git ignore, see https://github.com/PyO3/maturin/issues/885#issuecomment-1112108447

[2022-11-26 09:15] harupy opened #908 "Support `--ignore-long-lines`"
pylint has `--ignore-long-lines` to specify a regular expression for a line that is allowed to be longer than the limit.

[code]

This option is useful when you insert a comment containing a very long URL.

[code]

[2022-11-26 12:53] layday opened #910 "B023 location is wrong when occurring inside format string"
A late-bound loop variable used inside a format string is reported on the first line of the document.

[code]

ruff 0.0.139 output:

[code]

[2022-11-26 13:08] hofrob opened #912 "`--add-noqa` alternates between two different rule codes"
I just discovered this tool and am very happy with it. While implementing it into our CI I discovered that the `--add-noqa` has buggy behavior when it discovers multiple failures on one line.

# Problematic code

[code]

# Command

[code]

This will trigger `RUF001` and `E501` but the `--add-noqa` flag will alternately add `# noqa: RUF001` and `# noqa: E501` on each run. In other situations it cor

[2022-11-26 13:28] squiddy commented on #827
I'll look at `yield -> yield from`.

[2022-11-26 15:02] charliermarsh commented on #912
Thank you! Will take a look at it.

[2022-11-26 15:03] charliermarsh commented on #286
@Seamooo - Do you have any interest in collaborating w/ me on the Rust port of pegen? It's a private repo right now but would be happy to add you and talk about how I'm iterating on it.

[2022-11-26 15:05] charliermarsh commented on #908
As an alternative, should we just allow long lines that end in a URL?

[2022-11-26 15:06] charliermarsh commented on #910
Ugh, f-strings. Best language feature as a user, worst language feature for tooling!

[2022-11-26 15:06] charliermarsh commented on #910
(Thanks for filing, will fix.)

[2022-11-26 15:12] #780 closed

[2022-11-26 15:13] charliermarsh commented on #912
Am I right that you have `--line-length 140` set in your config too?

[2022-11-26 15:20] hofrob commented on #912
`--line-length 88` in this case. But I can remove it and still reproduce it.

Now that I tried it again: the first time it works correctly (adding both rules). When you remove one, it will start alternating. I guess it's because I was working through the rules/rule sets one by one.

[2022-11-26 15:24] charliermarsh commented on #912
Yeah, the issue is that it's not preserving the existing codes. So if `noqa: E501` is present, it'll run the linter, _ignore_ `E501`, flag `RUF001`, and then set `noqa: RUF001` (removing `E501`).

[2022-11-26 15:25] charliermarsh commented on #912
Question: do you have codes listed in `noqa` that aren't supported by Ruff? Like `noqa: E203` or whatever? (Codes that exist in Flake8, but not Ruff.)

The initial intent was to remove those codes here too, to set `noqa` to the _exact_ list of Ruff violations... but not sure if that's too disruptive.

[2022-11-26 15:31] #910 closed

[2022-11-26 15:37] charliermarsh commented on #912
(Another example is that if you have `# noqa` (the blank catch-all), Ruff's `--add-noqa` will replace that with the precise `# noqa` needed, like `# noqa: E501`. That could also cause issues for other compatibility with other tools, but illustrates the intent of the command.)

[2022-11-26 16:29] harupy commented on #908
Agreed!

[2022-11-26 17:59] charliermarsh commented on #873
Good to go!

<img width="591" alt="Screen Shot 2022-11-26 at 12 58 50 PM" src="https://user-images.githubusercontent.com/1309177/204102601-699b8eec-c829-49c9-8e22-b011008e9e43.png">

[2022-11-26 17:59] #873 closed

[2022-11-26 19:10] charliermarsh commented on #839
Fixed by @JonathanPlasse in https://github.com/charliermarsh/ruff/pull/916.

[2022-11-26 19:10] #839 closed

[2022-11-26 19:42] #912 closed

[2022-11-26 21:56] charliermarsh commented on #546
Closed by @karpa4o4 in https://github.com/charliermarsh/ruff/pull/909!

[2022-11-26 21:56] #546 closed

[2022-11-27 03:00] Seamooo commented on #286
Definitely would be interested

[2022-11-27 03:34] charliermarsh commented on #286
@Seamooo - Added you, repo is rough but your help is very welcome!

[2022-11-27 11:07] hofrob commented on #912
Nope.

Replied, fixed, merged and released in less than 12h. Wow, that was fast. Thanks a lot!

[2022-11-27 15:57] harupy opened #921 "Support rules in `flake8-pytest-style`"
https://github.com/m-burst/flake8-pytest-style

[2022-11-27 16:15] JonathanPlasse opened #922 "Bugbear extend-immutable-calls with import alias does not work"
[code]

[code]

[2022-11-27 16:29] tlambert03 opened #923 "D417: false positive with *args/**kwargs in numpy docstrings"
In the [specification for numpy docstrings](https://numpydoc.readthedocs.io/en/latest/format.html#parameters), they state:

but if you do that, ruff is unhappy:

[code]
[code]

(if you remove the star in the docstrings, the error goes away)

[2022-11-27 16:45] charliermarsh commented on #923
Oh interesting, thanks! Will fix.

[2022-11-27 17:58] tlambert03 opened #924 "feature: Support D417 for __init__ Parameters in numpy class docstrings"
(I think this could technically be called a bug rather than a feature request, but ruff's current behavior is consistent with pydocstyle's, so let's call it a feature request :smile:)

In the [class docstrings section](https://numpydoc.readthedocs.io/en/latest/format.html#class-docstring) of the numpy docstring style guide, they state that `__init__` parameters should actually be documented in the

[2022-11-27 20:37] charliermarsh commented on #924
Heh, I think it’s fair to call this a bug. Should fix. A little more complex of course since it requires some bookkeeping…

[2022-11-27 20:39] tlambert03 commented on #924
what's your gut feeling?  support both `__init__` and class docstrings like napoleon?  or just look in class docstrings like the spec says?

[2022-11-27 20:46] charliermarsh commented on #924
My gut is to support either, like napoleon. (Maybe biased since I tend to document the init.)

[2022-11-27 20:56] charliermarsh opened #925 "Document all `pyproject.toml` fields"

[2022-11-27 20:57] charliermarsh opened #926 "Add user testimonials to `README.md`"

[2022-11-27 22:14] charliermarsh opened #927 "Add Homebrew installation to `README.md`"

[2022-11-27 22:26] lovetox opened #928 "Use better style for per-file-ignores"
currently the docs say to use an inline table

`per-file-ignores = {"__init__.py" = ["E402"], "path/to/file.py" = ["E402"]}`

inline tables allow no newlines, and are intended for really small tables.
In bigger codebases this will not stay small, and an inline table would force you to describe everything on one line.

I tested it and there is another representation that just works fine

i wasted 3

[2022-11-27 22:27] #922 closed

[2022-11-27 22:28] charliermarsh commented on #928
Yeah those are equivalent representations, it's more of a TOML thing than any specific choice made in Ruff. I'm sorry you lost time on it! I'll change the docs to use the non-inline syntax, for clarity.

[2022-11-27 23:39] JonathanPlasse commented on #922
Thanks for the fix.

[2022-11-28 02:30] #905 closed

[2022-11-28 02:32] charliermarsh commented on #170
Thanks to @olliemath, we now support all of the string parsing rules! I'm going to close this out -- we're only missing `F811`, and I don't plan to implement it right now.

[2022-11-28 02:32] #170 closed

[2022-11-28 02:37] #927 closed

[2022-11-28 02:38] #928 closed

[2022-11-28 02:55] #926 closed

[2022-11-28 03:08] #923 closed

[2022-11-28 03:36] #908 closed

[2022-11-28 04:50] #593 closed

[2022-11-28 05:19] #925 closed

[2022-11-28 05:28] linpan opened #938 "brew install ruff not find"
Warning: No available formula with the name "ruff". Did you mean riff?
==> Searching for similarly named formulae...
These similarly named formulae were found:
truffle                                  riff
To install one of them, run (for example):
  brew install truffle
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Searching

[2022-11-28 05:39] charliermarsh commented on #938
Can you try running `brew update` first?

[2022-11-28 05:40] charliermarsh commented on #923
This is going out in [v0.0.142](https://github.com/charliermarsh/ruff/releases/tag/v0.0.142).

[2022-11-28 11:18] linpan commented on #938
cool,  figure out . by brew update . thanks.

[2022-11-28 11:18] #938 closed

[2022-11-28 11:26] tlambert03 commented on #923
So fast :). Thanks again!

[2022-11-28 12:37] thomkeh opened #940 "Allow excluding functions with some decorators (like `@override`) from the docstring rules"
I use [typing_extensions.override](https://github.com/python/typing_extensions/blob/main/CHANGELOG.md#release-440-october-6-2022) to annotate methods that are overriding a method in the super class. The overriding methods don't need (but of course can optionally have) docstrings because the super method already has one.

[2022-11-28 14:40] charliermarsh commented on #940
I thought this was supported, let me take a look...

[2022-11-28 14:42] charliermarsh commented on #940
Oh, I was thinking of `@overload`, not `@override`!

[2022-11-28 14:51] trag1c opened #942 "F821 triggers when using non-ASCII characters"
[code]
[code]
(it's obviously fine with a name like `time_us`)

[2022-11-28 14:52] #940 closed

[2022-11-28 14:53] charliermarsh commented on #942
Fascinating.

[2022-11-28 17:09] ljodal commented on #283
@charliermarsh You wrote somewhere that libcst is significantly slower than the current ast implementation in ruff (can't find it right now). Do you know why? Is it because it's a cst or is it because the classes it exposes are Python "compatible"?

I'm asking because I've started looking into pyo3 and from what I see the only way to expose an ast to a Python plugin would be to make the ast classe

[2022-11-28 18:32] patrick91 opened #944 "Support for Eradicate"
Hi there!

I was looking into migrating Strawberry to Ruff, but I'd love to keep the eradicate plugin :)

Is this something you'd like to add to Ruff?

https://pypi.org/project/flake8-eradicate/

TLDR: it detects commented code and forbids you from commiting it

We don't use any of the options :)

[2022-11-28 18:46] charliermarsh commented on #944
Yeah this looks very tractable. I don't know that I can get to it _today_, but it's definitely doable.

[2022-11-28 18:48] charliermarsh commented on #283
@ljodal - This was all based on LibCST as a Rust crate, with no Python FFI -- so I _think_ it's just the CST and parser, and not anything to do with the the serialization. (I also hacked in some RustPython vs. LibCST benchmarks into the existing LibCST `benches` and got similar results. As with all benchmarking, though, I could definitely be doing something wrong!
)

[2022-11-28 18:49] charliermarsh commented on #283
@ljodal - I don't have great intuition for whether the PyO3 FFI would add much overhead and what the performance impact would be. I think it's worth exploring!

[2022-11-28 20:18] charliermarsh opened #945 "Auto-generate options reference in `README.md`"
I just put that together manually for now, roughly in the style of [rustfmt](https://rust-lang.github.io/rustfmt/?version=v1.5.1&search=), but it'd be far preferable to auto-generate that section.

[2022-11-28 20:29] relsunkaev opened #946 "F401 column number is imprecise"
When some of the `from` statement's imports are unused, ruff highlights the entire statement. For large, multi-line imports this creates a lot of noise when using an extension to highlight errors in the editor and it may be better for the error to point to the exact imports that are unused instead.

Example:
[code]

Will generate

[code]

This would probably require reporting each unused import se

[2022-11-28 20:34] charliermarsh commented on #946
Yeah this could definitely be improved. IIRC, I implemented it this way to make autofixing easier and more reliable. But now that we support iterative autofix, it might be fine to revert back to "one error per unused import".

It may not be trivial, though, since we'll have to do some bookkeeping as we autofix, since we want to avoid leaving around empty statements like:

[code]

[2022-11-28 20:40] charliermarsh commented on #946
The downside is that if we mark each member as its own error, then if you were to trigger an "autofix" for that error (e.g., in the VS Code UI), you'd have to repeat that action for each member.

[2022-11-28 20:42] charliermarsh commented on #940
This is going out in [v0.0.143](https://github.com/charliermarsh/ruff/releases/tag/v0.0.143).

[2022-11-28 21:17] #893 closed

[2022-11-28 21:19] charliermarsh commented on #946
Oh yeah, that seems reasonable!

[2022-11-28 21:19] charliermarsh commented on #944
I'm gonna give this a try now.

[2022-11-28 22:21] hay-kot opened #948 "feat: Alternative Text Output Format(s)"
I would like to group the errors in ruff by file and output them in a more structured format Similar to the image below where issues are grouped by file and then displayed in a table like view below the file name.

**Example**

<img width="790" alt="CleanShot 2022-11-28 at 13 15 02@2x" src="https://user-images.githubusercontent.com/64056131/204392314-3fa8408a-bbfe-448a-8d18-e91fed97390b.png">

Obv

[2022-11-28 22:22] charliermarsh commented on #944
This'll ship tonight.

[2022-11-28 23:23] brandon-leapyear opened #949 "Turn on U006 with 'from __future__ import annotations'"
It seems like if `target-version` is below 3.9, U006 doesn't get triggered _at all_, even if `from __future__ import annotations` is included:

https://github.com/charliermarsh/ruff/blob/731fba90060de58f9893251d62913b9294fa2458/src/check_ast.rs#L1231-L1236

Repro:
[code]
[code]

Related: https://github.com/charliermarsh/ruff/issues/778

[2022-11-28 23:34] charliermarsh commented on #946
PR welcome for that change if you’re up for it — otherwise I’ll get to it at some point :)

[2022-11-28 23:45] brandon-leapyear opened #950 "Ignore E501 for long URLs in comments or docstrings"
https://github.com/PyCQA/pycodestyle/blob/1063db8747e7d4e213160458aa3792e5ec05bc10/pycodestyle.py#L278-L285

[2022-11-29 00:13] brandon-leapyear opened #951 "Support registering custom noqa codes"
Until #872 is implemented, we would like to keep using `# noqa: V101` ignores. This is an [undocumented feature](https://github.com/jendrikseipp/vulture/commit/2488be07b115ef4c45c77c6ea8e500a5fc9c595a) in vulture, but we would still prefer using this for the time being. However, turning on M001 would remove these comments. It would be nice to tell the M001 rule what noqa rules third-party tools mi

[2022-11-29 00:57] charliermarsh commented on #950
Thanks! Do you have a minimal code snippet that reproduces the issue for you? I thought we _did_ support this so want to ensure I have the right example to work from.

[2022-11-29 01:00] charliermarsh commented on #949
Interesting, I honestly had no idea that `from __future__ import annotations` enabled this behavior for pre-3.9 versions (https://peps.python.org/pep-0585/#implementation). Will fix.

[2022-11-29 01:00] brandon-leapyear commented on #950
This fails with `ruff` but passes with `flake8`:
[code]

[2022-11-29 01:01] brandon-leapyear commented on #949
To be extra clear, this only affects _annotations_. Anything at runtime should _not_ be converted pre-3.9

[2022-11-29 01:05] charliermarsh commented on #948
Yeah I'd be happy to support this. It's a bit more ESLint-like. I think a separate format option would be a reasonable place to start -- I don't feel the need to support extensive templating right now. Maybe like `--format grouped`? But we can workshop the name later.

[2022-11-29 01:06] charliermarsh commented on #951
Makes sense. (We may also want to support this in `--add-noqa` calls.)

[2022-11-29 01:08] charliermarsh commented on #950
I think this was actually a regression, fixing.

[2022-11-29 01:10] #950 closed

[2022-11-29 01:11] brandon-leapyear commented on #950
So fast! Thanks!

[2022-11-29 01:11] charliermarsh commented on #950
This is going out in [0.0.144](https://github.com/charliermarsh/ruff/releases/tag/v0.0.144).

[2022-11-29 01:11] charliermarsh commented on #950
No prob! Appreciate the issues.

[2022-11-29 01:54] #944 closed

[2022-11-29 01:57] #949 closed

[2022-11-29 01:58] charliermarsh commented on #949
This is going out in [v0.0.145](https://github.com/charliermarsh/ruff/releases/tag/v0.0.145).

[2022-11-29 01:58] charliermarsh commented on #944
This is going out in [v0.0.145](https://github.com/charliermarsh/ruff/releases/tag/v0.0.145).

@patrick91 - Do you mind trying it out and sharing any issues? I used the same test suite as `eradicate` for the actual code detection.

[2022-11-29 03:16] #951 closed

[2022-11-29 03:56] charliermarsh commented on #13
Closing for now as this is a fuzzy issue.

[2022-11-29 03:56] #13 closed

[2022-11-29 03:56] charliermarsh commented on #14
Closing for now as we stopped using `cacache`.

[2022-11-29 03:56] #14 closed

[2022-11-29 12:47] patrick91 commented on #944
I had some false positives for these lines, but I changed them 😊

[code]

But for the rest it seems to work very well!

[2022-11-29 12:51] patrick91 opened #960 "F821 when using `global`"
I'm getting this error when running ruff on a code like this:

[code]

(we use global as a work-around for some typing issues) :)

This is the codebase I'm using Ruff against: https://github.com/strawberry-graphql/strawberry/pull/2367

[2022-11-29 12:56] patrick91 opened #961 "Support for multi-line tables in `pyproject.toml`"
I do have a few per-file ignores in my project[1]. Do you think it is possible to add support for multi-line tables?

This works:

[code]

This does not:

[code]

Error:

[code]

I get the same error in VS Code:

<img width="733" alt="CleanShot 2022-11-29 at 12 54 13@2x" src="https://user-images.githubusercontent.com/667029/204534442-85b0c67d-a73e-4edc-a5da-94190965c61f.png">

My understanding is

[2022-11-29 13:26] sondr3 commented on #961
I'm not an expert in TOML and how tables work there, but you can use the following syntax for this as of now:

[code]

It doesn't look to me like the PR your linked has been published under a new TOML version, so for now the spec doesn't allow these kinds of tables.

[2022-11-29 15:10] patrick91 commented on #961
ah! great suggestion!

didn't notice that! thanks for checking 😊

I'll close the issue for now then!

[2022-11-29 15:10] #961 closed

[2022-11-29 15:28] charliermarsh commented on #960
I'll look into this and see what I can do :)

[2022-11-29 15:29] charliermarsh commented on #944
Oh nice! I'll take a look at those false positives, assuming `eradicate` successfully ignored them :)

[2022-11-29 20:22] layday opened #962 "Consider adding `keep-runtime-typing` or equivalent option for `pyupgrade` rules"
pyupgrade allows opting out of upgrading `typing` aliases of built-in collections and `typing.Union`s if they are used at runtime (e.g. by libraries such as Pydantic and cattrs) in Python versions in which they are unsupported if not stringified (< 3.9 for the former and < 3.10 for the latter).  It would be great if ruff could provide an equivalent option so that we are able to adopt the new synta

[2022-11-29 20:42] charliermarsh commented on #962
Can do!

[2022-11-29 20:54] JonathanPlasse opened #963 "Add support for junit xml format"
It would be helpful for Continuous Integration.

[2022-11-29 21:11] charliermarsh commented on #963
Agreed.

[2022-11-29 21:12] charliermarsh commented on #283
You might be interested in some of the stuff in RustPython -- they generate the Rust AST definitions from an ASDL file: https://github.com/RustPython/RustPython/blob/main/compiler/ast/asdl.py.

[2022-11-29 22:00] ljodal commented on #283
Nice, thanks for the links, I'll take a look :) I guess if I base it on that and just tweak it to be Python compatible it should be fairly easy to see the overhead as well

[2022-11-29 23:45] #948 closed

[2022-11-30 00:01] #946 closed

[2022-11-30 00:45] charliermarsh commented on #960
I guess the issue is that `del Review` removes `Review` from the scope, and so when we go to evaluate the forward annotation, it's gone.

Could I help with removing the `global` / `del`? How are you testing that code?

[2022-11-30 01:05] charliermarsh commented on #962
Added in https://github.com/charliermarsh/ruff/pull/965. I mirrored pyupgrade's behavior, which is that if you target Python 3.9, we still make those upgrades even if you passed in `--keep-runtime-typing` -- so that setting is only applicable when `--target-version` is 3.7 or 3.8, and you've imported `from __future__ import annotations` .

[2022-11-30 01:05] #962 closed

[2022-11-30 01:14] charliermarsh commented on #942
Oddly I'm not seeing this error when running on my machine 🤔

[2022-11-30 01:18] trag1c commented on #942
Do you need any more details?

[2022-11-30 01:22] charliermarsh commented on #942
Could it make a difference if you uploaded the exact file, rather than pasting the snippet?

[2022-11-30 01:28] trag1c commented on #942
Unfortunately, I don't have the exact file anymore. I didn't actually run this snippet until now, and oddly it also seems to work for me in this case.

It complains about it in this example though:
[code]

[2022-11-30 01:30] charliermarsh commented on #942
Oh cool, that repros for me too. Thanks!

[2022-11-30 02:21] charliermarsh commented on #942
Wait, no, that's not the differentiator.

[2022-11-30 02:24] charliermarsh commented on #942
I think there's something strange in how the `time_µs` is written in the first example. Notice that my editor doesn't like it either:

![Screen Shot 2022-11-29 at 9 23 43 PM](https://user-images.githubusercontent.com/1309177/204692220-6cf5b20d-42ca-4339-aca5-cf23bf76f7d1.png)

![Screen Shot 2022-11-29 at 9 23 40 PM](https://user-images.githubusercontent.com/1309177/204692224-03640094-2396-4546-8d9

[2022-11-30 02:29] charliermarsh commented on #942
Yeah, I think these are actually using different characters? In `foo.py` above, the first representation of `time_us` uses:

[code]

The second uses:

[code]

The difference is `[206, 188]` vs. `[194, 181]`, which I guess represent slightly different characters?

[code]

[2022-11-30 02:30] charliermarsh commented on #942
So, I think this is _correct_?

[2022-11-30 02:30] #942 closed

[2022-11-30 02:32] charliermarsh commented on #942
Sigh, yes, the former (`[206, 188]`) is [Greek Small Letter Mu](https://www.compart.com/en/unicode/U+03BC), while the latter ([`194, 181]`) is [Micro Sign](https://www.compart.com/en/unicode/U+00B5). You can see that the UTF-8 Encoding hex digits match up.

[2022-11-30 02:34] trag1c commented on #942
Sorry for wasting your time, looks like it's VSCode that treats these two as the same character, e.g. when highlighting or using autocompletion (that's probably when it inserted a different character? 🤨).

Anyways great project! ❤️

[2022-11-30 02:36] charliermarsh commented on #942
Haha no, all good, I was totally stumped! I learned a bit about debugging this stuff anyway.

Thank you for the kind words :)

[2022-11-30 03:02] charliermarsh opened #967 "Discussion: check code representations"
Ruff was designed with Flake8-compatibility in mind: it uses the same check code representation (e.g., `F841` and friends), it supports many of the same command-line arguments, it supports the same `# noqa` syntax, etc. I consider this a strength, as it makes it much easier for existing projects to migrate to Ruff, and for users to familiarize themselves with Ruff's conventions.

That said, there'

[2022-11-30 03:05] charliermarsh commented on #689
# Fatal

- [] `astroid-error` / `F0002`
- [] `config-parse-error` / `F0011`
- [] `fatal` / `F0001`
- [] `method-check-failed` / `F0202`
- [] `parse-error` / `F0010`

# Error

- [] `abstract-class-instantiated` / `E0110`
- [] `access-member-before-definition` / `E0203`
- [] `assigning-non-slot` / `E0237`
- [] `assignment-from-no-return` / `E1111`
- [] `assignment-from-none` / `E1128`
- [] `await-ou

[2022-11-30 03:06] charliermarsh commented on #689
Pylint supports 409 rules to Ruff's 224 rules. I'm gonna go through and see where we're lacking.

[2022-11-30 03:13] charliermarsh commented on #197
This is also [E0118](https://pylint.pycqa.org/en/latest/user_guide/messages/error/used-prior-global-declaration.html) in Pylint.

[2022-11-30 03:40] charliermarsh commented on #689
For the sake of simplicity, I'm just gonna ignore the "Fatal" and "Information" categories.

That leaves 395 rules, of which Ruff implements 63 (this is a rough count, since the rules aren't always identical), with 332 unimplemented.

[2022-11-30 03:42] charliermarsh commented on #689
We should add a bunch of these! I'd probably start with the `E` rules, though there's a lot of low-hanging fruit in the `W` category. I can do one or two to add least add Pylint as a category.

\cc @harupy if you're ever interested in some of these.

[2022-11-30 04:52] charliermarsh opened #970 "Implement Pylint"
# Error

- [ ] `abstract-class-instantiated` / `E0110`
- [ ] `access-member-before-definition` / `E0203`
- [ ] `assigning-non-slot` / `E0237`
- [ ] `assignment-from-no-return` / `E1111`
- [ ] `assignment-from-none` / `E1128`
- [ ] `await-outside-async` / `E1142`
- [ ] `bad-configuration-section` / `E0014`
- [ ] `bad-except-order` / `E0701`
- [ ] `bad-exception-cause` / `E0705`
- [ ] `bad-format-ch

[2022-11-30 04:53] charliermarsh commented on #689
Added to the README here: #969. For clarity, I'm going to close this out in favor of a new issue to track actual work towards improving parity: https://github.com/charliermarsh/ruff/issues/970.

[2022-11-30 04:53] #689 closed

[2022-11-30 05:26] charliermarsh commented on #970
Need to figure out what the right "check code" approach is here. We could just start to put these under `RUF`. Or we could do `PYE` for "Pylint Error", and so on. But then we have to support four-digit codes, as opposed to our current three-digit codes.

[2022-11-30 05:47] #963 closed

[2022-11-30 05:48] #665 closed

[2022-11-30 06:08] ekzhang commented on #942
(Off-topic) By the way, Rust has a [built-in lint](https://doc.rust-lang.org/rustc/lints/listing/warn-by-default.html#confusable-idents) for this, just tried compiling the code in this [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a7ea09c6779f9f7c522e98b68df209db).

<img width="719" alt="image" src="https://user-images.githubusercontent.com/7550632/204720397-

[2022-11-30 06:17] JonathanPlasse commented on #963
Thanks

[2022-11-30 06:28] JonathanPlasse commented on #970
I vote for `PYE` as it would keep the same categories and the migration would be easier.

[2022-11-30 10:37] patrick91 commented on #960
The code needs global to allow get_type_hints to work at runtime, since it tries to find the forward ref from the global scope[1].

Maybe I can remove the `del`, but in theory the code is fine, no?

For now, I disabled that error for those files though, I'm fine with ignoring it for those tests 😊

[1] Reference: https://mail.python.org/archives/list/typing-sig@python.org/thread/SNKJB2U5S74TWGDWVD6

[2022-11-30 15:17] charliermarsh opened #973 "Split `linter.rs` tests and fixtures into per-plugin directories"